In [704]:
import pickle
import requests
from bs4 import BeautifulSoup
import time
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import time
import os
import pandas as pd
import numpy as np
import statsmodels.api as sm
import statsmodels.formula.api as smf
import patsy
import diagnostic_plots
import unicodedata

import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.linear_model import RidgeCV
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import PolynomialFeatures
from sklearn.cross_validation import KFold
%matplotlib inline

with open('first_group_top40.pkl', 'rb') as picklefile:
    df = pickle.load(picklefile)
    
with open('tigers_pads_mets_marlins_wsox_top40.pkl', 'rb') as picklefile:
    tigers_pads_mets_marlins_wsox_df = pickle.load(picklefile)
       
with open('twins_red_rags_top40.pkl', 'rb') as picklefile:
    twins_red_rags_df = pickle.load(picklefile)

with open('big_group_top40.pkl', 'rb') as picklefile:
    big_group_df = pickle.load(picklefile)

In [705]:
df = pd.concat([df, tigers_pads_mets_marlins_wsox_df])

In [706]:
df = pd.concat([df, twins_red_rags_df])

In [707]:
df = pd.concat([df, big_group_df])

In [708]:
float_cols = ['BA', 'OBP', 'SLG', 'OPS', 'dWAR']
integer_cols = ['Year', 'Age', 'Games_Played', 'Plate_Appearances', 'At_Bats',
                'Runs', 'Hits', '2B', '3B', 'HR', 'RBI', 'SB', 'BB', 'SO', 'TB', 'HBP', 'SF']
for i in integer_cols:
    df[i] = df[i].astype(int)

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5111 entries, 0 to 2270
Data columns (total 33 columns):
Player_Name          5111 non-null object
Year                 5111 non-null int64
Age                  5111 non-null int64
Team                 5111 non-null object
League               5111 non-null object
Games_Played         5111 non-null int64
Plate_Appearances    5111 non-null int64
At_Bats              5111 non-null int64
Runs                 5111 non-null int64
Hits                 5111 non-null int64
2B                   5111 non-null int64
3B                   5111 non-null int64
HR                   5111 non-null int64
RBI                  5111 non-null int64
SB                   5111 non-null int64
CS                   5111 non-null object
BB                   5111 non-null int64
SO                   5111 non-null int64
BA                   5111 non-null object
OBP                  5111 non-null object
SLG                  5111 non-null object
OPS                  5111 non-null object
OPS+                 5111 non-null object
TB                   5111 non-null int64
GDP                  5111 non-null object
HBP                  5111 non-null int64
SH                   5111 non-null object
SF                   5111 non-null int64
IBB                  5111 non-null object
Pos                  5111 non-null object
dWAR                 5111 non-null float64
Salary               4338 non-null object
Awards               5111 non-null object
dtypes: float64(1), int64(17), object(15)
memory usage: 1.3+ MB

In [709]:
df_2018 = df[df['Year'] == 2018]
df_2018_team = df_2018[['Player_Name', 'Team']]
df_2018_pos = df_2018[['Player_Name', 'Pos']]

In [710]:
df_2018_pos

           Player_Name       Pos
1      Scott Alexander         1
11           Rich Hill         1
19       Daniel Hudson         1
28       Kenley Jansen         1
34           Alex Wood         1
45     Clayton Kershaw         1
48         Kenta Maeda         1
51      Ross Stripling         1
53        Pat Venditte        /1
58        Erik Goeddel         1
61         Dylan Floro         1
63         JT Chargois         1
64      Caleb Ferguson        /1
72      Logan Forsythe      45/3
75           Max Muncy     35/47
80        Joc Pederson     *78/9
84       Austin Barnes        24
89        Chris Taylor      68/4
92        Andrew Toles       /87
102      Justin Turner       5/D
118        Chase Utley       4/3
120     Cody Bellinger    *38/97
133          Matt Kemp     *79/D
140    Yasmani Grandal      *2/3
145     Kiké Hernández  8467/593
152      Tony Cingrani         1
157         Pedro Báez         1
161        Yimi García         1
167        Josh Fields         1
169     Walker Buehler         1
...                ...       ...
2105    Patrick Corbin         1
2110     Andrew Chafin         1
2111  Yoshihisa Hirano         1
2117    Brad Boxberger         1
2121    Silvino Bracho         1
2125    Archie Bradley         1
2129       Ketel Marte       *46
2136      A.J. Pollock         8
2142  John Ryan Murphy       2/D
2147         Jake Lamb         5
2153      Chris Owings    98/457
2167       Jeff Mathis      2/41
2176           Jon Jay    *978/D
2181        Nick Ahmed        *6
2191        Alex Avila      2/31
2196  Steven Souza Jr.       9/8
2201     David Peralta      *7/9
2210   Daniel Descalso   54/37D1
2218  Paul Goldschmidt      *3/D
2224    T.J. McFarland         1
2231     Shelby Miller        /1
2239     Clay Buchholz        /1
2243     Deven Marrero       5/4
2252      Jarrod Dyson      89/7
2255    Braden Shipley        /1
2257     Jimmie Sherfy        /1
2258     Joey Krehbiel        /1
2261      Jake Barrett        /1
2265    Sócrates Brito       /97
2270  Christian Walker       /37

[986 rows x 2 columns]

In [711]:
df_2018_pos['Pos'] = df_2018_pos['Pos'].str.replace('*', '')
df_2018_pos['Pos'] = df_2018_pos['Pos'].str.replace('/', '')
df_2018_pos['Pos'] = df_2018_pos['Pos'].str[0]

/Users/brendenrossin/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Users/brendenrossin/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/brendenrossin/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [712]:
df_2018_pos

           Player_Name Pos
1      Scott Alexander   1
11           Rich Hill   1
19       Daniel Hudson   1
28       Kenley Jansen   1
34           Alex Wood   1
45     Clayton Kershaw   1
48         Kenta Maeda   1
51      Ross Stripling   1
53        Pat Venditte   1
58        Erik Goeddel   1
61         Dylan Floro   1
63         JT Chargois   1
64      Caleb Ferguson   1
72      Logan Forsythe   4
75           Max Muncy   3
80        Joc Pederson   7
84       Austin Barnes   2
89        Chris Taylor   6
92        Andrew Toles   8
102      Justin Turner   5
118        Chase Utley   4
120     Cody Bellinger   3
133          Matt Kemp   7
140    Yasmani Grandal   2
145     Kiké Hernández   8
152      Tony Cingrani   1
157         Pedro Báez   1
161        Yimi García   1
167        Josh Fields   1
169     Walker Buehler   1
...                ...  ..
2105    Patrick Corbin   1
2110     Andrew Chafin   1
2111  Yoshihisa Hirano   1
2117    Brad Boxberger   1
2121    Silvino Bracho   1
2125    Archie Bradley   1
2129       Ketel Marte   4
2136      A.J. Pollock   8
2142  John Ryan Murphy   2
2147         Jake Lamb   5
2153      Chris Owings   9
2167       Jeff Mathis   2
2176           Jon Jay   9
2181        Nick Ahmed   6
2191        Alex Avila   2
2196  Steven Souza Jr.   9
2201     David Peralta   7
2210   Daniel Descalso   5
2218  Paul Goldschmidt   3
2224    T.J. McFarland   1
2231     Shelby Miller   1
2239     Clay Buchholz   1
2243     Deven Marrero   5
2252      Jarrod Dyson   8
2255    Braden Shipley   1
2257     Jimmie Sherfy   1
2258     Joey Krehbiel   1
2261      Jake Barrett   1
2265    Sócrates Brito   9
2270  Christian Walker   3

[986 rows x 2 columns]

In [713]:
df_2018_team['Team'].unique()

array(['LAD', 'TOT', 'TBR', 'STL', 'SDP', 'SFG', 'COL', 'LAA', 'WSN',
       'PIT', 'TOR', 'DET', 'NYM', 'MIA', 'CHW', 'MIN', 'CIN', 'TEX',
       'KCR', 'BAL', 'BOS', 'NYY', 'HOU', 'SEA', 'CHC', 'MIL', 'PHI',
       'OAK', 'ATL', 'CLE', 'ARI'], dtype=object)

In [714]:
df = df[df['Year'] > 2010]
df = df[df['Year'] < 2018]

In [715]:
df.loc[:, 'BA'] = df.loc[:, 'Hits'] / df.loc[:, 'At_Bats']
df.loc[:, 'OBP'] = (df.loc[:, 'Hits'] + df.loc[:, 'BB'] + df.loc[:, 'HBP']) / \
    (df.loc[:, 'At_Bats'] + df.loc[:, 'BB'] + df.loc[:, 'HBP'] + df.loc[:, 'SF'])
df.loc[:, 'SLG'] = df.loc[:, 'TB'] / df.loc[:, 'At_Bats']
df.loc[:, 'OPS'] = df.loc[:, 'OBP'] + df.loc[:, 'SLG']

In [716]:
df['BA']
df['OBP']
df['SLG']
df['OPS']

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3520 entries, 0 to 2269
Data columns (total 33 columns):
Player_Name          3520 non-null object
Year                 3520 non-null int64
Age                  3520 non-null int64
Team                 3520 non-null object
League               3520 non-null object
Games_Played         3520 non-null int64
Plate_Appearances    3520 non-null int64
At_Bats              3520 non-null int64
Runs                 3520 non-null int64
Hits                 3520 non-null int64
2B                   3520 non-null int64
3B                   3520 non-null int64
HR                   3520 non-null int64
RBI                  3520 non-null int64
SB                   3520 non-null int64
CS                   3520 non-null object
BB                   3520 non-null int64
SO                   3520 non-null int64
BA                   2850 non-null float64
OBP                  2856 non-null float64
SLG                  2850 non-null float64
OPS                  2850 non-null float64
OPS+                 3520 non-null object
TB                   3520 non-null int64
GDP                  3520 non-null object
HBP                  3520 non-null int64
SH                   3520 non-null object
SF                   3520 non-null int64
IBB                  3520 non-null object
Pos                  3520 non-null object
dWAR                 3520 non-null float64
Salary               3063 non-null object
Awards               3520 non-null object
dtypes: float64(5), int64(17), object(11)
memory usage: 935.0+ KB

In [717]:
def make_float(x):
    try:
        return float(x)
    except:
        return None

In [718]:
df['Salary'] = df['Salary'].str.replace(',', '')
df['Salary'] = df['Salary'].str.replace('$', '')
df['Salary'] = df['Salary'].apply(make_float)

In [719]:
df['Pos'] = df['Pos'].str.replace('*', '')
df['Pos'] = df['Pos'].str.replace('/', '')
df['Pos'] = df['Pos'].str[0]

In [720]:
df['All_Star'] = df['Awards'].str.replace('AS', '1')
df['All_Star'] = df['All_Star'].str[0]
df['All_Star'] = df['All_Star'].apply(make_float)

In [721]:
mean_salary = df['Salary'].mean()
df['Adj_Salary'] = df['Salary'] / mean_salary

In [722]:
df2 = df.groupby(["Player_Name"])[['Games_Played', 'Plate_Appearances', 'At_Bats', 'Runs', 'Hits', '2B', '3B',
                                   'HR', 'RBI', 'BA', 'OBP', 'SLG', 'OPS', 'SB', 'BB', 'SO', 'TB', 'HBP', 'SF',
                                   'dWAR','Salary','Adj_Salary']].mean()

In [723]:
df2['Age'] = df.groupby(['Player_Name'])['Age'].max()

In [724]:
df2['All_star_count'] = df.groupby(['Player_Name'])['All_Star'].sum()

In [725]:
df2['Total_games_played'] = df.groupby(['Player_Name'])['Games_Played'].sum()

In [726]:
df2

,Games_Played,Plate_Appearances,At_Bats,Runs,Hits,2B,3B,HR,RBI,BA,...,SO,TB,HBP,SF,dWAR,Salary,Adj_Salary,Age,All_star_count,Total_games_played
Player_Name,,,,,,,,,,,,,,,,,,,,,
A.J. Cole,7.000000,8.666667,7.666667,0.000000,0.666667,0.000000,0.000000,0.000000,0.000000,0.047619,...,3.000000,0.666667,0.000000,0.000000,0.000000,555300.0,0.081579,25,0.0,21
A.J. Ellis,78.571429,282.714286,239.428571,24.000000,56.285714,9.857143,0.428571,6.142857,28.142857,0.233300,...,50.857143,85.428571,3.714286,2.142857,0.571429,1250000.0,0.183638,36,0.0,550
A.J. Minter,16.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,555000.0,0.081535,23,0.0,16
A.J. Pollock,87.333333,341.166667,310.666667,51.000000,89.000000,20.500000,4.000000,8.833333,33.166667,0.273747,...,51.166667,144.000000,2.000000,2.000000,0.966667,7750000.0,1.138556,29,1.0,524
AJ Reed,23.500000,73.500000,64.000000,5.500000,10.000000,1.500000,0.000000,1.500000,4.000000,0.081967,...,24.500000,16.000000,0.000000,0.500000,-0.150000,NaN,NaN,24,0.0,47
Aaron Altherr,51.250000,201.250000,178.000000,26.500000,43.250000,10.250000,2.250000,7.000000,27.250000,0.177338,...,54.000000,79.000000,4.500000,0.750000,-0.075000,561000.0,0.082417,26,0.0,205
Aaron Bummer,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,549000.0,0.080654,23,0.0,2
Aaron Hicks,91.600000,330.000000,289.400000,38.600000,67.000000,12.200000,1.400000,8.600000,32.200000,0.229163,...,68.200000,107.800000,1.400000,2.600000,0.420000,2825000.0,0.415022,27,0.0,458
Aaron Judge,91.000000,386.500000,313.000000,69.000000,84.500000,13.000000,1.500000,28.000000,62.000000,0.231352,...,125.000000,184.500000,3.000000,2.500000,0.050000,622300.0,0.091422,25,1.0,182
Aaron Loup,3.200000,0.200000,0.200000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1812500.0,0.266275,29,0.0,16
Aaron Nola,18.666667,38.333333,33.666667,1.333333,2.333333,0.333333,0.000000,0.000000,0.666667,0.067874,...,19.333333,2.666667,0.333333,0.000000,0.000000,573000.0,0.084180,24,0.0,56
Aaron Sanchez,2.000000,3.333333,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.666667,0.000000,0.000000,0.000000,0.000000,2700000.0,0.396658,23,1.0,6
Aaron Wilkerson,3.000000,4.000000,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,28,0.0,3
Abraham Almonte,60.400000,189.800000,172.400000,23.000000,42.400000,10.800000,2.000000,2.800000,16.800000,0.248115,...,44.200000,65.600000,0.600000,1.800000,0.060000,825000.0,0.121201,28,0.0,302
Adalberto Mondesi,36.000000,104.500000,94.000000,10.000000,17.000000,1.000000,1.500000,1.500000,8.000000,0.177498,...,35.000000,25.500000,1.000000,0.000000,-0.050000,NaN,NaN,21,0.0,72
Adam Conley,18.666667,33.666667,27.666667,2.333333,4.000000,0.000000,0.000000,0.000000,1.333333,0.156391,...,14.666667,4.000000,0.000000,0.333333,0.000000,NaN,NaN,27,0.0,56
Adam Duvall,90.500000,351.000000,319.000000,44.250000,76.750000,18.000000,2.250000,18.000000,54.000000,0.225049,...,95.000000,153.250000,4.750000,4.750000,0.275000,645000.0,0.094757,28,1.0,362
Adam Eaton,90.666667,403.333333,356.833333,58.000000,101.500000,17.166667,5.833333,6.000000,31.666667,0.279859,...,67.666667,148.333333,7.166667,1.500000,0.283333,6000000.0,0.881462,28,0.0,544
Adam Engel,97.000000,336.000000,301.000000,34.000000,50.000000,11.000000,3.000000,6.000000,21.000000,0.166113,...,117.000000,85.000000,8.000000,0.000000,0.100000,552000.0,0.081095,25,0.0,97
Adam Frazier,93.500000,307.000000,276.000000,38.000000,78.000000,14.000000,3.500000,4.000000,32.000000,0.288616,...,41.500000,111.000000,4.500000,2.000000,0.000000,571000.0,0.083886,25,0.0,187
Adam Jones,152.571429,653.428571,610.571429,85.857143,170.428571,28.857143,1.714286,28.714286,86.714286,0.278898,...,119.714286,288.857143,8.857143,5.428571,0.014286,17333333.0,2.546447,31,4.0,1068
Adam Kolarek,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,28,0.0,2
Adam Liberatore,32.333333,0.666667,0.666667,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.666667,0.000000,0.000000,0.000000,0.000000,NaN,NaN,30,0.0,97
Adam Morgan,23.666667,22.000000,20.000000,1.000000,2.000000,0.666667,0.000000,0.000000,0.666667,0.223558,...,8.000000,2.666667,0.000000,0.000000,0.000000,559000.0,0.082123,27,0.0,71
Adam Ottavino,44.666667,3.500000,3.000000,0.166667,0.333333,0.000000,0.000000,0.000000,0.000000,0.111111,...,2.000000,0.333333,0.000000,0.000000,-0.016667,7000000.0,1.028373,31,0.0,268
Adam Plutko,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,24,0.0,1
Adam Warren,9.000000,1.400000,1.200000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.800000,0.000000,0.000000,0.000000,0.000000,3315000.0,0.487008,29,0.0,45
Addison Reed,40.333333,0.333333,0.333333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,-0.016667,8250000.0,1.212011,28,0.0,242
Addison Russell,134.333333,502.000000,450.666667,59.666667,108.000000,25.000000,2.333333,15.333333,64.000000,0.239612,...,125.000000,183.666667,6.333333,2.666667,2.433333,3200000.0,0.470113,23,1.0,403
Adeiny Hechavarria,119.500000,447.166667,418.833333,39.333333,106.833333,15.000000,5.833333,3.666667,34.500000,0.255714,...,72.000000,144.500000,1.000000,2.833333,0.683333,5900000.0,0.866771,28,0.0,717
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Xavier Cedeño,13.166667,0.166667,0.166667,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.166667,0.000000,0.000000,0.000000,0.000000,NaN,NaN,29,0.0,79
Yacksel Ríos,13.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,24,0.0,13
Yadiel Rivera,14.333333,29.333333,27.333333,4.000000,5.000000,1.333333,0.000000,0.000000,1.000000,0.094517,...,8.333333,6.333333,0.000000,0.000000,0.233333,NaN,NaN,25,0.0,43
Yadier Molina,134.571429,531.571429,487.428571,54.000000,144.571429,30.428571,0.714286,12.142857,65.714286,0.296024,...,57.857143,212.857143,3.571429,5.428571,1.685714,20000000.0,2.938208,34,6.0,942
Yan Gomes,90.000000,331.166667,305.166667,36.333333,74.333333,15.833333,1.000000,11.833333,43.333333,0.234392,...,81.833333,127.666667,5.000000,3.833333,0.933333,6033333.0,0.886359,29,0.0,540
Yandy Díaz,49.000000,179.000000,156.000000,25.000000,41.000000,8.000000,1.000000,0.000000,13.000000,0.262821,...,35.000000,51.000000,1.000000,1.000000,-0.100000,NaN,NaN,25,0.0,49
Yangervis Solarte,130.000000,515.250000,466.500000,55.750000,124.750000,24.750000,1.500000,14.250000,61.500000,0.267969,...,59.500000,195.250000,5.000000,4.000000,0.025000,4125000.0,0.606005,29,0.0,520
Yasiel Puig,117.400000,464.200000,411.000000,61.000000,115.600000,21.600000,3.600000,17.000000,53.600000,0.279278,...,92.200000,195.400000,6.800000,2.600000,0.280000,9214000.0,1.353632,26,1.0,587
Yasmani Grandal,97.666667,357.000000,306.666667,38.333333,73.500000,14.500000,0.500000,14.833333,45.166667,0.241139,...,85.000000,133.500000,1.333333,2.666667,0.350000,7900000.0,1.160592,28,1.0,586
Yimi García,24.000000,0.333333,0.333333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,630000.0,0.092554,25,0.0,72
Yoenis Céspedes,131.333333,549.833333,503.166667,75.333333,138.000000,27.666667,4.000000,25.666667,82.500000,0.275697,...,112.833333,250.666667,4.833333,4.333333,-0.216667,29000000.0,4.260402,31,2.0,788
Yolmer Sánchez,85.500000,305.250000,281.750000,31.000000,68.250000,14.000000,2.500000,5.250000,29.000000,0.236993,...,64.750000,103.000000,2.500000,1.750000,0.725000,2350000.0,0.345239,25,0.0,342
Yonder Alonso,112.000000,405.000000,360.714286,41.571429,97.000000,21.000000,0.285714,9.571429,43.285714,0.275083,...,63.571429,147.285714,1.714286,3.000000,-0.428571,7000000.0,1.028373,30,1.0,784
Yovani Gallardo,18.857143,41.285714,36.571429,2.714286,7.000000,1.571429,0.000000,0.571429,2.571429,0.315201,...,14.000000,10.285714,0.000000,0.000000,0.000000,750000.0,0.110183,31,0.0,132
Yoán Moncada,31.000000,125.500000,109.000000,17.000000,25.000000,4.500000,1.000000,4.000000,11.500000,0.220841,...,43.000000,43.500000,1.500000,0.000000,0.400000,555000.0,0.081535,22,0.0,62
Yu Darvish,3.000000,6.800000,6.200000,0.200000,0.800000,0.200000,0.000000,0.200000,0.200000,0.185098,...,4.000000,1.600000,0.000000,0.000000,0.000000,25000000.0,3.672760,30,4.0,15
Yuli Gurriel,87.500000,350.500000,329.500000,41.000000,96.000000,25.000000,0.500000,10.500000,45.000000,0.280108,...,37.000000,153.500000,4.000000,3.500000,-0.600000,12400000.0,1.821689,33,0.0,175
Yusmeiro Petit,19.833333,10.333333,9.500000,0.500000,0.500000,0.000000,0.000000,0.000000,0.333333,0.053833,...,4.000000,0.500000,0.000000,0.000000,0.000000,500000.0,0.073455,32,0.0,119
Zac Curtis,11.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,24,0.0,23
Zac Rosscup,16.750000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,610000.0,0.089615,29,0.0,67
Zach Britton,2.800000,1.600000,1.600000,0.600000,1.000000,0.200000,0.000000,0.200000,0.400000,0.625000,...,0.200000,1.800000,0.000000,0.000000,0.000000,12000000.0,1.762925,29,2.0,14
Zach Davies,22.000000,48.000000,38.000000,3.333333,4.000000,0.666667,0.000000,0.000000,1.333333,0.098754,...,13.333333,4.666667,0.000000,0.000000,0.000000,572000.0,0.084033,24,0.0,66
Zach Duke,25.857143,4.000000,3.428571,0.428571,1.142857,0.000000,0.000000,0.285714,0.857143,0.325000,...,1.142857,2.000000,0.000000,0.000000,-0.014286,2150000.0,0.315857,34,0.0,181
Zach Eflin,10.000000,22.500000,22.000000,1.500000,4.500000,1.000000,0.000000,0.000000,1.000000,0.201863,...,10.500000,5.500000,0.000000,0.000000,0.000000,NaN,NaN,23,0.0,20
Zach McAllister,3.200000,1.200000,1.200000,0.000000,0.200000,0.000000,0.000000,0.000000,0.000000,0.250000,...,0.400000,0.200000,0.000000,0.000000,0.000000,2450000.0,0.359930,29,0.0,16
Zack Godley,19.000000,27.333333,23.000000,0.666667,1.666667,0.000000,0.000000,0.000000,0.666667,0.089947,...,13.666667,1.666667,0.000000,0.000000,0.000000,579200.0,0.085091,27,0.0,57
Zack Granite,40.000000,107.000000,93.000000,14.000000,22.000000,2.000000,0.000000,1.000000,13.000000,0.236559,...,9.000000,27.000000,0.000000,1.000000,0.400000,NaN,NaN,24,0.0,40
Zack Greinke,27.285714,63.571429,54.428571,5.000000,12.000000,2.714286,0.000000,0.714286,2.857143,0.218237,...,11.285714,16.857143,0.285714,0.571429,0.000000,34000000.0,4.994954,33,3.0,191
Zack Wheeler,21.666667,42.000000,35.666667,1.000000,3.333333,1.000000,0.000000,0.000000,1.666667,0.095802,...,16.333333,4.333333,0.000000,0.000000,0.000000,1900000.0,0.279130,27,0.0,65
Álex Claudio,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,568450.0,0.083511,25,0.0,10

In [727]:
df2.reset_index(inplace=True)

df2 = pd.merge(df2, df_2018_team)

df2.set_index('Player_Name')

,Games_Played,Plate_Appearances,At_Bats,Runs,Hits,2B,3B,HR,RBI,BA,...,TB,HBP,SF,dWAR,Salary,Adj_Salary,Age,All_star_count,Total_games_played,Team
Player_Name,,,,,,,,,,,,,,,,,,,,,
A.J. Cole,7.000000,8.666667,7.666667,0.000000,0.666667,0.000000,0.000000,0.000000,0.000000,0.047619,...,0.666667,0.000000,0.000000,0.000000,555300.0,0.081579,25,0.0,21,TOT
A.J. Ellis,78.571429,282.714286,239.428571,24.000000,56.285714,9.857143,0.428571,6.142857,28.142857,0.233300,...,85.428571,3.714286,2.142857,0.571429,1250000.0,0.183638,36,0.0,550,SDP
A.J. Minter,16.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,...,0.000000,0.000000,0.000000,0.000000,555000.0,0.081535,23,0.0,16,ATL
A.J. Pollock,87.333333,341.166667,310.666667,51.000000,89.000000,20.500000,4.000000,8.833333,33.166667,0.273747,...,144.000000,2.000000,2.000000,0.966667,7750000.0,1.138556,29,1.0,524,ARI
AJ Reed,23.500000,73.500000,64.000000,5.500000,10.000000,1.500000,0.000000,1.500000,4.000000,0.081967,...,16.000000,0.000000,0.500000,-0.150000,NaN,NaN,24,0.0,47,HOU
Aaron Altherr,51.250000,201.250000,178.000000,26.500000,43.250000,10.250000,2.250000,7.000000,27.250000,0.177338,...,79.000000,4.500000,0.750000,-0.075000,561000.0,0.082417,26,0.0,205,PHI
Aaron Bummer,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,...,0.000000,0.000000,0.000000,0.000000,549000.0,0.080654,23,0.0,2,CHW
Aaron Hicks,91.600000,330.000000,289.400000,38.600000,67.000000,12.200000,1.400000,8.600000,32.200000,0.229163,...,107.800000,1.400000,2.600000,0.420000,2825000.0,0.415022,27,0.0,458,NYY
Aaron Judge,91.000000,386.500000,313.000000,69.000000,84.500000,13.000000,1.500000,28.000000,62.000000,0.231352,...,184.500000,3.000000,2.500000,0.050000,622300.0,0.091422,25,1.0,182,NYY
Aaron Loup,3.200000,0.200000,0.200000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,1812500.0,0.266275,29,0.0,16,TOR
Aaron Nola,18.666667,38.333333,33.666667,1.333333,2.333333,0.333333,0.000000,0.000000,0.666667,0.067874,...,2.666667,0.333333,0.000000,0.000000,573000.0,0.084180,24,0.0,56,PHI
Aaron Wilkerson,3.000000,4.000000,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,NaN,NaN,28,0.0,3,MIL
Abraham Almonte,60.400000,189.800000,172.400000,23.000000,42.400000,10.800000,2.000000,2.800000,16.800000,0.248115,...,65.600000,0.600000,1.800000,0.060000,825000.0,0.121201,28,0.0,302,KCR
Adalberto Mondesi,36.000000,104.500000,94.000000,10.000000,17.000000,1.000000,1.500000,1.500000,8.000000,0.177498,...,25.500000,1.000000,0.000000,-0.050000,NaN,NaN,21,0.0,72,KCR
Adam Conley,18.666667,33.666667,27.666667,2.333333,4.000000,0.000000,0.000000,0.000000,1.333333,0.156391,...,4.000000,0.000000,0.333333,0.000000,NaN,NaN,27,0.0,56,MIA
Adam Duvall,90.500000,351.000000,319.000000,44.250000,76.750000,18.000000,2.250000,18.000000,54.000000,0.225049,...,153.250000,4.750000,4.750000,0.275000,645000.0,0.094757,28,1.0,362,CIN
Adam Eaton,90.666667,403.333333,356.833333,58.000000,101.500000,17.166667,5.833333,6.000000,31.666667,0.279859,...,148.333333,7.166667,1.500000,0.283333,6000000.0,0.881462,28,0.0,544,WSN
Adam Engel,97.000000,336.000000,301.000000,34.000000,50.000000,11.000000,3.000000,6.000000,21.000000,0.166113,...,85.000000,8.000000,0.000000,0.100000,552000.0,0.081095,25,0.0,97,CHW
Adam Frazier,93.500000,307.000000,276.000000,38.000000,78.000000,14.000000,3.500000,4.000000,32.000000,0.288616,...,111.000000,4.500000,2.000000,0.000000,571000.0,0.083886,25,0.0,187,PIT
Adam Jones,152.571429,653.428571,610.571429,85.857143,170.428571,28.857143,1.714286,28.714286,86.714286,0.278898,...,288.857143,8.857143,5.428571,0.014286,17333333.0,2.546447,31,4.0,1068,BAL
Adam Kolarek,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,...,0.000000,0.000000,0.000000,0.000000,NaN,NaN,28,0.0,2,TBR
Adam Liberatore,32.333333,0.666667,0.666667,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,NaN,NaN,30,0.0,97,LAD
Adam Morgan,23.666667,22.000000,20.000000,1.000000,2.000000,0.666667,0.000000,0.000000,0.666667,0.223558,...,2.666667,0.000000,0.000000,0.000000,559000.0,0.082123,27,0.0,71,PHI
Adam Ottavino,44.666667,3.500000,3.000000,0.166667,0.333333,0.000000,0.000000,0.000000,0.000000,0.111111,...,0.333333,0.000000,0.000000,-0.016667,7000000.0,1.028373,31,0.0,268,COL
Adam Plutko,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,...,0.000000,0.000000,0.000000,0.000000,NaN,NaN,24,0.0,1,CLE
Adam Warren,9.000000,1.400000,1.200000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,3315000.0,0.487008,29,0.0,45,NYY
Addison Reed,40.333333,0.333333,0.333333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,-0.016667,8250000.0,1.212011,28,0.0,242,MIN
Addison Russell,134.333333,502.000000,450.666667,59.666667,108.000000,25.000000,2.333333,15.333333,64.000000,0.239612,...,183.666667,6.333333,2.666667,2.433333,3200000.0,0.470113,23,1.0,403,CHC
Adeiny Hechavarria,119.500000,447.166667,418.833333,39.333333,106.833333,15.000000,5.833333,3.666667,34.500000,0.255714,...,144.500000,1.000000,2.833333,0.683333,5900000.0,0.866771,28,0.0,717,TBR
Adrian Houser,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,...,0.000000,0.000000,0.000000,0.000000,NaN,NaN,22,0.0,2,MIL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Wilson Ramos,89.571429,349.428571,323.571429,34.000000,86.571429,13.142857,0.142857,13.285714,50.142857,0.266742,...,139.857143,0.571429,3.142857,0.685714,8500000.0,1.248738,29,1.0,627,TBR
Wily Peralta,20.666667,38.666667,33.333333,1.333333,3.333333,0.666667,0.000000,0.166667,1.833333,0.112641,...,4.500000,0.000000,0.333333,0.000000,1500000.0,0.220366,28,0.0,124,KCR
Xander Bogaerts,124.600000,530.400000,483.600000,72.000000,136.800000,26.200000,2.200000,10.200000,56.600000,0.275440,...,198.000000,4.600000,3.200000,-0.080000,7050000.0,1.035718,24,1.0,623,BOS
Xavier Cedeño,13.166667,0.166667,0.166667,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,NaN,NaN,29,0.0,79,CHW
Yacksel Ríos,13.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,NaN,NaN,24,0.0,13,PHI
Yadiel Rivera,14.333333,29.333333,27.333333,4.000000,5.000000,1.333333,0.000000,0.000000,1.000000,0.094517,...,6.333333,0.000000,0.000000,0.233333,NaN,NaN,25,0.0,43,MIA
Yadier Molina,134.571429,531.571429,487.428571,54.000000,144.571429,30.428571,0.714286,12.142857,65.714286,0.296024,...,212.857143,3.571429,5.428571,1.685714,20000000.0,2.938208,34,6.0,942,STL
Yan Gomes,90.000000,331.166667,305.166667,36.333333,74.333333,15.833333,1.000000,11.833333,43.333333,0.234392,...,127.666667,5.000000,3.833333,0.933333,6033333.0,0.886359,29,0.0,540,CLE
Yangervis Solarte,130.000000,515.250000,466.500000,55.750000,124.750000,24.750000,1.500000,14.250000,61.500000,0.267969,...,195.250000,5.000000,4.000000,0.025000,4125000.0,0.606005,29,0.0,520,TOR
Yasiel Puig,117.400000,464.200000,411.000000,61.000000,115.600000,21.600000,3.600000,17.000000,53.600000,0.279278,...,195.400000,6.800000,2.600000,0.280000,9214000.0,1.353632,26,1.0,587,LAD
Yasmani Grandal,97.666667,357.000000,306.666667,38.333333,73.500000,14.500000,0.500000,14.833333,45.166667,0.241139,...,133.500000,1.333333,2.666667,0.350000,7900000.0,1.160592,28,1.0,586,LAD
Yimi García,24.000000,0.333333,0.333333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,630000.0,0.092554,25,0.0,72,LAD
Yoenis Céspedes,131.333333,549.833333,503.166667,75.333333,138.000000,27.666667,4.000000,25.666667,82.500000,0.275697,...,250.666667,4.833333,4.333333,-0.216667,29000000.0,4.260402,31,2.0,788,NYM
Yolmer Sánchez,85.500000,305.250000,281.750000,31.000000,68.250000,14.000000,2.500000,5.250000,29.000000,0.236993,...,103.000000,2.500000,1.750000,0.725000,2350000.0,0.345239,25,0.0,342,CHW
Yonder Alonso,112.000000,405.000000,360.714286,41.571429,97.000000,21.000000,0.285714,9.571429,43.285714,0.275083,...,147.285714,1.714286,3.000000,-0.428571,7000000.0,1.028373,30,1.0,784,CLE
Yovani Gallardo,18.857143,41.285714,36.571429,2.714286,7.000000,1.571429,0.000000,0.571429,2.571429,0.315201,...,10.285714,0.000000,0.000000,0.000000,750000.0,0.110183,31,0.0,132,TOT
Yoán Moncada,31.000000,125.500000,109.000000,17.000000,25.000000,4.500000,1.000000,4.000000,11.500000,0.220841,...,43.500000,1.500000,0.000000,0.400000,555000.0,0.081535,22,0.0,62,CHW
Yu Darvish,3.000000,6.800000,6.200000,0.200000,0.800000,0.200000,0.000000,0.200000,0.200000,0.185098,...,1.600000,0.000000,0.000000,0.000000,25000000.0,3.672760,30,4.0,15,CHC
Yuli Gurriel,87.500000,350.500000,329.500000,41.000000,96.000000,25.000000,0.500000,10.500000,45.000000,0.280108,...,153.500000,4.000000,3.500000,-0.600000,12400000.0,1.821689,33,0.0,175,HOU
Yusmeiro Petit,19.833333,10.333333,9.500000,0.500000,0.500000,0.000000,0.000000,0.000000,0.333333,0.053833,...,0.500000,0.000000,0.000000,0.000000,500000.0,0.073455,32,0.0,119,OAK
Zac Curtis,11.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,...,0.000000,0.000000,0.000000,0.000000,NaN,NaN,24,0.0,23,PHI
Zach Britton,2.800000,1.600000,1.600000,0.600000,1.000000,0.200000,0.000000,0.200000,0.400000,0.625000,...,1.800000,0.000000,0.000000,0.000000,12000000.0,1.762925,29,2.0,14,BAL
Zach Davies,22.000000,48.000000,38.000000,3.333333,4.000000,0.666667,0.000000,0.000000,1.333333,0.098754,...,4.666667,0.000000,0.000000,0.000000,572000.0,0.084033,24,0.0,66,MIL
Zach Duke,25.857143,4.000000,3.428571,0.428571,1.142857,0.000000,0.000000,0.285714,0.857143,0.325000,...,2.000000,0.000000,0.000000,-0.014286,2150000.0,0.315857,34,0.0,181,MIN
Zach Eflin,10.000000,22.500000,22.000000,1.500000,4.500000,1.000000,0.000000,0.000000,1.000000,0.201863,...,5.500000,0.000000,0.000000,0.000000,NaN,NaN,23,0.0,20,PHI
Zach McAllister,3.200000,1.200000,1.200000,0.000000,0.200000,0.000000,0.000000,0.000000,0.000000,0.250000,...,0.200000,0.000000,0.000000,0.000000,2450000.0,0.359930,29,0.0,16,CLE
Zack Godley,19.000000,27.333333,23.000000,0.666667,1.666667,0.000000,0.000000,0.000000,0.666667,0.089947,...,1.666667,0.000000,0.000000,0.000000,579200.0,0.085091,27,0.0,57,ARI
Zack Greinke,27.285714,63.571429,54.428571,5.000000,12.000000,2.714286,0.000000,0.714286,2.857143,0.218237,...,16.857143,0.285714,0.571429,0.000000,34000000.0,4.994954,33,3.0,191,ARI
Zack Wheeler,21.666667,42.000000,35.666667,1.000000,3.333333,1.000000,0.000000,0.000000,1.666667,0.095802,...,4.333333,0.000000,0.000000,0.000000,1900000.0,0.279130,27,0.0,65,NYM
Álex Claudio,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,...,0.000000,0.000000,0.000000,0.000000,568450.0,0.083511,25,0.0,10,TEX

In [728]:
df2.reset_index(inplace=True)

df2 = pd.merge(df2, df_2018_pos)

df2 = df2.set_index('Player_Name')

In [729]:
# DF3 AND DF4 ARE JUST USED TO CREATE POSITION COLUMN

In [730]:
df.Team.unique

<bound method Series.unique of 0       KCR
7       BOS
8       CLE
9       TOT
10      LAD
13      ARI
14      ARI
15      ARI
16      ARI
17      ARI
18      PIT
21      LAD
22      LAD
23      LAD
24      LAD
25      LAD
26      LAD
27      LAD
29      ATL
30      ATL
31      TOT
32      LAD
33      LAD
38      LAD
39      LAD
40      LAD
41      LAD
42      LAD
43      LAD
44      LAD
       ...
2228    ATL
2229    ARI
2230    ARI
2234    BOS
2235    BOS
2236    BOS
2237    BOS
2238    PHI
2240    BOS
2241    BOS
2242    BOS
2245    KCR
2246    KCR
2247    KCR
2248    KCR
2249    KCR
2250    KCR
2251    SEA
2253    ARI
2254    ARI
2256    ARI
2259    ARI
2260    ARI
2262    ARI
2263    ARI
2264    ARI
2266    ARI
2267    BAL
2268    BAL
2269    ARI
Name: Team, Length: 3520, dtype: object>

In [731]:
df2.reset_index(inplace=True)

def remove_accents(word):
    return ''.join((c for c in unicodedata.normalize('NFD', word) if unicodedata.category(c) != 'Mn'))

df2['Player_Name'] = df2['Player_Name'].apply(remove_accents)

In [732]:
bautista = df2[df2['Player_Name'] == 'Jose Bautista']

bautista

,Player_Name,index,Games_Played,Plate_Appearances,At_Bats,Runs,Hits,2B,3B,HR,...,HBP,SF,dWAR,Salary,Adj_Salary,Age,All_star_count,Total_games_played,Team,Pos
458,Jose Bautista,456,134.285714,589.142857,486.142857,88.571429,123.428571,24.142857,0.857143,31.142857,...,5.428571,5.285714,-0.671429,500000.0,0.073455,36,5.0,940,TOT,9

In [733]:
markakis = df2[df2['Player_Name'] == 'Nick Markakis']

markakis

,Player_Name,index,Games_Played,Plate_Appearances,At_Bats,Runs,Hits,2B,3B,HR,...,HBP,SF,dWAR,Salary,Adj_Salary,Age,All_star_count,Total_games_played,Team,Pos
631,Nick Markakis,629,150.428571,662.428571,591.571429,73.857143,165.857143,32.142857,1.0,10.857143,...,4.571429,4.857143,-0.742857,2000000.0,0.293821,33,0.0,1053,ATL,9

In [734]:
plouffe = df2[df2['Player_Name'] == 'Trevor Plouffe']

plouffe

,Player_Name,index,Games_Played,Plate_Appearances,At_Bats,Runs,Hits,2B,3B,HR,...,HBP,SF,dWAR,Salary,Adj_Salary,Age,All_star_count,Total_games_played,Team,Pos
774,Trevor Plouffe,772,114.428571,454.0,411.428571,50.857143,100.142857,22.0,1.428571,14.714286,...,3.571429,3.142857,-0.128571,100000.0,0.014691,31,0.0,801,PHI,9

In [735]:
# fix errors


df2.reset_index(inplace=True)

## remove joey bats

bautista['Salary'] = np.nan

bautista['Salary']
print(bautista['Adj_Salary'])


df2[df2['Player_Name'] == 'Jose Bautista'] = bautista

df2[df2['Player_Name'] == 'Jose Bautista']

plouffe['Salary'] = np.nan

plouffe['Salary']



df2[df2['Player_Name'] == 'Trevor Plouffe'] = plouffe

## fix pablo sandoval

pablo = df2[df2['Player_Name'] == 'Pablo Sandoval']

pablo['Salary'] = 18600000

markakis['Salary'] = 11000000

df2[df2['Player_Name'] == 'Nick Markakis'] = markakis

pablo['Salary']

df2[df2['Player_Name'] == 'Pablo Sandoval'] = pablo

## fix ji-man choi

jiman = df2[df2['Player_Name'] == 'Ji-Man Choi']

jiman['Team'] = 'TBR'

jiman['Team']

df2[df2['Player_Name'] == 'Ji-Man Choi'] = jiman

/Users/brendenrossin/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

458    0.073455
Name: Adj_Salary, dtype: float64

/Users/brendenrossin/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/brendenrossin/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/brendenrossin/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/brendenrossin/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [736]:
markakis

,Player_Name,index,Games_Played,Plate_Appearances,At_Bats,Runs,Hits,2B,3B,HR,...,HBP,SF,dWAR,Salary,Adj_Salary,Age,All_star_count,Total_games_played,Team,Pos
631,Nick Markakis,629,150.428571,662.428571,591.571429,73.857143,165.857143,32.142857,1.0,10.857143,...,4.571429,4.857143,-0.742857,11000000,0.293821,33,0.0,1053,ATL,9

In [737]:
df2['Adj_Salary'] = df2['Salary'] / mean_salary

In [738]:
df2[df2['Player_Name'] == 'Jose Bautista']

,level_0,Player_Name,index,Games_Played,Plate_Appearances,At_Bats,Runs,Hits,2B,3B,...,HBP,SF,dWAR,Salary,Adj_Salary,Age,All_star_count,Total_games_played,Team,Pos
458,NaN,Jose Bautista,456,134.285714,589.142857,486.142857,88.571429,123.428571,24.142857,0.857143,...,5.428571,5.285714,-0.671429,NaN,NaN,36,5.0,940,TOT,9

In [739]:
df2[df2['Player_Name'] == 'Pablo Sandoval']

,level_0,Player_Name,index,Games_Played,Plate_Appearances,At_Bats,Runs,Hits,2B,3B,...,HBP,SF,dWAR,Salary,Adj_Salary,Age,All_star_count,Total_games_played,Team,Pos
649,649.0,Pablo Sandoval,647,104.428571,417.285714,381.428571,43.428571,104.0,20.0,1.571429,...,2.714286,4.571429,3.172066e-17,18600000.0,2.732533,30,2.0,731,SFG,5

In [740]:
df2[df2['Player_Name'] == 'Ji-Man Choi']

,level_0,Player_Name,index,Games_Played,Plate_Appearances,At_Bats,Runs,Hits,2B,3B,...,HBP,SF,dWAR,Salary,Adj_Salary,Age,All_star_count,Total_games_played,Team,Pos
404,404.0,Ji-Man Choi,402,30.0,73.5,63.5,5.5,11.5,2.5,0.0,...,0.0,1.0,-0.15,850000.0,0.124874,26,0.0,60,TBR,D

In [741]:
df2.set_index('Player_Name', inplace=True)

In [742]:
## MAKE SURE THIS INDEX IS THE SAME WHEN I ADD MORE DATA

In [743]:
df2

,level_0,index,Games_Played,Plate_Appearances,At_Bats,Runs,Hits,2B,3B,HR,...,HBP,SF,dWAR,Salary,Adj_Salary,Age,All_star_count,Total_games_played,Team,Pos
Player_Name,,,,,,,,,,,,,,,,,,,,,
A.J. Cole,0.0,0,7.000000,8.666667,7.666667,0.000000,0.666667,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,555300.0,0.081579,25,0.0,21,TOT,1
A.J. Ellis,1.0,1,78.571429,282.714286,239.428571,24.000000,56.285714,9.857143,0.428571,6.142857,...,3.714286,2.142857,0.571429,1250000.0,0.183638,36,0.0,550,SDP,2
A.J. Minter,2.0,2,16.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,555000.0,0.081535,23,0.0,16,ATL,1
A.J. Pollock,3.0,3,87.333333,341.166667,310.666667,51.000000,89.000000,20.500000,4.000000,8.833333,...,2.000000,2.000000,0.966667,7750000.0,1.138556,29,1.0,524,ARI,8
AJ Reed,4.0,4,23.500000,73.500000,64.000000,5.500000,10.000000,1.500000,0.000000,1.500000,...,0.000000,0.500000,-0.150000,NaN,NaN,24,0.0,47,HOU,3
Aaron Altherr,5.0,5,51.250000,201.250000,178.000000,26.500000,43.250000,10.250000,2.250000,7.000000,...,4.500000,0.750000,-0.075000,561000.0,0.082417,26,0.0,205,PHI,9
Aaron Bummer,6.0,6,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,549000.0,0.080654,23,0.0,2,CHW,1
Aaron Hicks,7.0,7,91.600000,330.000000,289.400000,38.600000,67.000000,12.200000,1.400000,8.600000,...,1.400000,2.600000,0.420000,2825000.0,0.415022,27,0.0,458,NYY,8
Aaron Judge,8.0,8,91.000000,386.500000,313.000000,69.000000,84.500000,13.000000,1.500000,28.000000,...,3.000000,2.500000,0.050000,622300.0,0.091422,25,1.0,182,NYY,9
Aaron Loup,9.0,9,3.200000,0.200000,0.200000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,1812500.0,0.266275,29,0.0,16,TOR,1
Aaron Nola,10.0,10,18.666667,38.333333,33.666667,1.333333,2.333333,0.333333,0.000000,0.000000,...,0.333333,0.000000,0.000000,573000.0,0.084180,24,0.0,56,PHI,1
Aaron Wilkerson,11.0,11,3.000000,4.000000,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,NaN,NaN,28,0.0,3,MIL,1
Abraham Almonte,12.0,12,60.400000,189.800000,172.400000,23.000000,42.400000,10.800000,2.000000,2.800000,...,0.600000,1.800000,0.060000,825000.0,0.121201,28,0.0,302,KCR,8
Adalberto Mondesi,13.0,13,36.000000,104.500000,94.000000,10.000000,17.000000,1.000000,1.500000,1.500000,...,1.000000,0.000000,-0.050000,NaN,NaN,21,0.0,72,KCR,6
Adam Conley,14.0,14,18.666667,33.666667,27.666667,2.333333,4.000000,0.000000,0.000000,0.000000,...,0.000000,0.333333,0.000000,NaN,NaN,27,0.0,56,MIA,1
Adam Duvall,15.0,15,90.500000,351.000000,319.000000,44.250000,76.750000,18.000000,2.250000,18.000000,...,4.750000,4.750000,0.275000,645000.0,0.094757,28,1.0,362,CIN,7
Adam Eaton,16.0,16,90.666667,403.333333,356.833333,58.000000,101.500000,17.166667,5.833333,6.000000,...,7.166667,1.500000,0.283333,6000000.0,0.881462,28,0.0,544,WSN,9
Adam Engel,17.0,17,97.000000,336.000000,301.000000,34.000000,50.000000,11.000000,3.000000,6.000000,...,8.000000,0.000000,0.100000,552000.0,0.081095,25,0.0,97,CHW,8
Adam Frazier,18.0,18,93.500000,307.000000,276.000000,38.000000,78.000000,14.000000,3.500000,4.000000,...,4.500000,2.000000,0.000000,571000.0,0.083886,25,0.0,187,PIT,4
Adam Jones,19.0,19,152.571429,653.428571,610.571429,85.857143,170.428571,28.857143,1.714286,28.714286,...,8.857143,5.428571,0.014286,17333333.0,2.546447,31,4.0,1068,BAL,8
Adam Kolarek,20.0,20,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,NaN,NaN,28,0.0,2,TBR,1
Adam Liberatore,21.0,21,32.333333,0.666667,0.666667,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,NaN,NaN,30,0.0,97,LAD,1
Adam Morgan,22.0,22,23.666667,22.000000,20.000000,1.000000,2.000000,0.666667,0.000000,0.000000,...,0.000000,0.000000,0.000000,559000.0,0.082123,27,0.0,71,PHI,1
Adam Ottavino,23.0,23,44.666667,3.500000,3.000000,0.166667,0.333333,0.000000,0.000000,0.000000,...,0.000000,0.000000,-0.016667,7000000.0,1.028373,31,0.0,268,COL,1
Adam Plutko,24.0,24,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,NaN,NaN,24,0.0,1,CLE,1
Adam Warren,25.0,25,9.000000,1.400000,1.200000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,3315000.0,0.487008,29,0.0,45,NYY,1
Addison Reed,26.0,26,40.333333,0.333333,0.333333,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,-0.016667,8250000.0,1.212011,28,0.0,242,MIN,1
Addison Russell,27.0,27,134.333333,502.000000,450.666667,59.666667,108.000000,25.000000,2.333333,15.333333,...,6.333333,2.666667,2.433333,3200000.0,0.470113,23,1.0,403,CHC,6
Adeiny Hechavarria,28.0,28,119.500000,447.166667,418.833333,39.333333,106.833333,15.000000,5.833333,3.666667,...,1.000000,2.833333,0.683333,5900000.0,0.866771,28,0.0,717,TBR,6
Adrian Houser,29.0,29,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,NaN,NaN,22,0.0,2,MIL,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Wilson Ramos,817.0,815,89.571429,349.428571,323.571429,34.000000,86.571429,13.142857,0.142857,13.285714,...,0.571429,3.142857,0.685714,8500000.0,1.248738,29,1.0,627,TBR,2
Wily Peralta,818.0,816,20.666667,38.666667,33.333333,1.333333,3.333333,0.666667,0.000000,0.166667,...,0.000000,0.333333,0.000000,1500000.0,0.220366,28,0.0,124,KCR,1
Xander Bogaerts,819.0,817,124.600000,530.400000,483.600000,72.000000,136.800000,26.200000,2.200000,10.200000,...,4.600000,3.200000,-0.080000,7050000.0,1.035718,24,1.0,623,BOS,6
Xavier Cedeno,820.0,818,13.166667,0.166667,0.166667,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,NaN,NaN,29,0.0,79,CHW,1
Yacksel Rios,821.0,819,13.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,NaN,NaN,24,0.0,13,PHI,1
Yadiel Rivera,822.0,820,14.333333,29.333333,27.333333,4.000000,5.000000,1.333333,0.000000,0.000000,...,0.000000,0.000000,0.233333,NaN,NaN,25,0.0,43,MIA,6
Yadier Molina,823.0,821,134.571429,531.571429,487.428571,54.000000,144.571429,30.428571,0.714286,12.142857,...,3.571429,5.428571,1.685714,20000000.0,2.938208,34,6.0,942,STL,2
Yan Gomes,824.0,822,90.000000,331.166667,305.166667,36.333333,74.333333,15.833333,1.000000,11.833333,...,5.000000,3.833333,0.933333,6033333.0,0.886359,29,0.0,540,CLE,2
Yangervis Solarte,825.0,823,130.000000,515.250000,466.500000,55.750000,124.750000,24.750000,1.500000,14.250000,...,5.000000,4.000000,0.025000,4125000.0,0.606005,29,0.0,520,TOR,5
Yasiel Puig,826.0,824,117.400000,464.200000,411.000000,61.000000,115.600000,21.600000,3.600000,17.000000,...,6.800000,2.600000,0.280000,9214000.0,1.353632,26,1.0,587,LAD,9
Yasmani Grandal,827.0,825,97.666667,357.000000,306.666667,38.333333,73.500000,14.500000,0.500000,14.833333,...,1.333333,2.666667,0.350000,7900000.0,1.160592,28,1.0,586,LAD,2
Yimi Garcia,828.0,826,24.000000,0.333333,0.333333,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,630000.0,0.092554,25,0.0,72,LAD,1
Yoenis Cespedes,829.0,827,131.333333,549.833333,503.166667,75.333333,138.000000,27.666667,4.000000,25.666667,...,4.833333,4.333333,-0.216667,29000000.0,4.260402,31,2.0,788,NYM,7
Yolmer Sanchez,830.0,828,85.500000,305.250000,281.750000,31.000000,68.250000,14.000000,2.500000,5.250000,...,2.500000,1.750000,0.725000,2350000.0,0.345239,25,0.0,342,CHW,5
Yonder Alonso,831.0,829,112.000000,405.000000,360.714286,41.571429,97.000000,21.000000,0.285714,9.571429,...,1.714286,3.000000,-0.428571,7000000.0,1.028373,30,1.0,784,CLE,3
Yovani Gallardo,832.0,830,18.857143,41.285714,36.571429,2.714286,7.000000,1.571429,0.000000,0.571429,...,0.000000,0.000000,0.000000,750000.0,0.110183,31,0.0,132,TOT,1
Yoan Moncada,833.0,831,31.000000,125.500000,109.000000,17.000000,25.000000,4.500000,1.000000,4.000000,...,1.500000,0.000000,0.400000,555000.0,0.081535,22,0.0,62,CHW,4
Yu Darvish,834.0,832,3.000000,6.800000,6.200000,0.200000,0.800000,0.200000,0.000000,0.200000,...,0.000000,0.000000,0.000000,25000000.0,3.672760,30,4.0,15,CHC,1
Yuli Gurriel,835.0,833,87.500000,350.500000,329.500000,41.000000,96.000000,25.000000,0.500000,10.500000,...,4.000000,3.500000,-0.600000,12400000.0,1.821689,33,0.0,175,HOU,3
Yusmeiro Petit,836.0,834,19.833333,10.333333,9.500000,0.500000,0.500000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,500000.0,0.073455,32,0.0,119,OAK,1
Zac Curtis,837.0,835,11.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,NaN,NaN,24,0.0,23,PHI,1
Zach Britton,838.0,836,2.800000,1.600000,1.600000,0.600000,1.000000,0.200000,0.000000,0.200000,...,0.000000,0.000000,0.000000,12000000.0,1.762925,29,2.0,14,BAL,1
Zach Davies,839.0,837,22.000000,48.000000,38.000000,3.333333,4.000000,0.666667,0.000000,0.000000,...,0.000000,0.000000,0.000000,572000.0,0.084033,24,0.0,66,MIL,1
Zach Duke,840.0,838,25.857143,4.000000,3.428571,0.428571,1.142857,0.000000,0.000000,0.285714,...,0.000000,0.000000,-0.014286,2150000.0,0.315857,34,0.0,181,MIN,1
Zach Eflin,841.0,839,10.000000,22.500000,22.000000,1.500000,4.500000,1.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,NaN,NaN,23,0.0,20,PHI,1
Zach McAllister,842.0,840,3.200000,1.200000,1.200000,0.000000,0.200000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,2450000.0,0.359930,29,0.0,16,CLE,1
Zack Godley,843.0,841,19.000000,27.333333,23.000000,0.666667,1.666667,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,579200.0,0.085091,27,0.0,57,ARI,1
Zack Greinke,844.0,842,27.285714,63.571429,54.428571,5.000000,12.000000,2.714286,0.000000,0.714286,...,0.285714,0.571429,0.000000,34000000.0,4.994954,33,3.0,191,ARI,1
Zack Wheeler,845.0,843,21.666667,42.000000,35.666667,1.000000,3.333333,1.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,1900000.0,0.279130,27,0.0,65,NYM,1
Alex Claudio,846.0,844,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,568450.0,0.083511,25,0.0,10,TEX,1

In [744]:
df2 = df2.drop(['index'],1)

In [745]:
df2 = df2.rename(index=str, columns={"level_0": "index"})

In [746]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 847 entries, A.J. Cole to Alex Claudio
Data columns (total 28 columns):
index                 844 non-null float64
Games_Played          847 non-null float64
Plate_Appearances     847 non-null float64
At_Bats               847 non-null float64
Runs                  847 non-null float64
Hits                  847 non-null float64
2B                    847 non-null float64
3B                    847 non-null float64
HR                    847 non-null float64
RBI                   847 non-null float64
BA                    753 non-null float64
OBP                   756 non-null float64
SLG                   753 non-null float64
OPS                   753 non-null float64
SB                    847 non-null float64
BB                    847 non-null float64
SO                    847 non-null float64
TB                    847 non-null float64
HBP                   847 non-null float64
SF                    847 non-null float64
dWAR                  847 non-null float64
Salary                658 non-null float64
Adj_Salary            658 non-null float64
Age                   847 non-null int64
All_star_count        847 non-null float64
Total_games_played    847 non-null int64
Team                  847 non-null object
Pos                   845 non-null object
dtypes: float64(24), int64(2), object(2)
memory usage: 191.9+ KB

In [747]:
df2 = df2.dropna()

In [748]:
df2

,index,Games_Played,Plate_Appearances,At_Bats,Runs,Hits,2B,3B,HR,RBI,...,HBP,SF,dWAR,Salary,Adj_Salary,Age,All_star_count,Total_games_played,Team,Pos
Player_Name,,,,,,,,,,,,,,,,,,,,,
A.J. Cole,0.0,7.000000,8.666667,7.666667,0.000000,0.666667,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,555300.0,0.081579,25,0.0,21,TOT,1
A.J. Ellis,1.0,78.571429,282.714286,239.428571,24.000000,56.285714,9.857143,0.428571,6.142857,28.142857,...,3.714286,2.142857,0.571429,1250000.0,0.183638,36,0.0,550,SDP,2
A.J. Pollock,3.0,87.333333,341.166667,310.666667,51.000000,89.000000,20.500000,4.000000,8.833333,33.166667,...,2.000000,2.000000,0.966667,7750000.0,1.138556,29,1.0,524,ARI,8
Aaron Altherr,5.0,51.250000,201.250000,178.000000,26.500000,43.250000,10.250000,2.250000,7.000000,27.250000,...,4.500000,0.750000,-0.075000,561000.0,0.082417,26,0.0,205,PHI,9
Aaron Hicks,7.0,91.600000,330.000000,289.400000,38.600000,67.000000,12.200000,1.400000,8.600000,32.200000,...,1.400000,2.600000,0.420000,2825000.0,0.415022,27,0.0,458,NYY,8
Aaron Judge,8.0,91.000000,386.500000,313.000000,69.000000,84.500000,13.000000,1.500000,28.000000,62.000000,...,3.000000,2.500000,0.050000,622300.0,0.091422,25,1.0,182,NYY,9
Aaron Loup,9.0,3.200000,0.200000,0.200000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,1812500.0,0.266275,29,0.0,16,TOR,1
Aaron Nola,10.0,18.666667,38.333333,33.666667,1.333333,2.333333,0.333333,0.000000,0.000000,0.666667,...,0.333333,0.000000,0.000000,573000.0,0.084180,24,0.0,56,PHI,1
Abraham Almonte,12.0,60.400000,189.800000,172.400000,23.000000,42.400000,10.800000,2.000000,2.800000,16.800000,...,0.600000,1.800000,0.060000,825000.0,0.121201,28,0.0,302,KCR,8
Adam Duvall,15.0,90.500000,351.000000,319.000000,44.250000,76.750000,18.000000,2.250000,18.000000,54.000000,...,4.750000,4.750000,0.275000,645000.0,0.094757,28,1.0,362,CIN,7
Adam Eaton,16.0,90.666667,403.333333,356.833333,58.000000,101.500000,17.166667,5.833333,6.000000,31.666667,...,7.166667,1.500000,0.283333,6000000.0,0.881462,28,0.0,544,WSN,9
Adam Engel,17.0,97.000000,336.000000,301.000000,34.000000,50.000000,11.000000,3.000000,6.000000,21.000000,...,8.000000,0.000000,0.100000,552000.0,0.081095,25,0.0,97,CHW,8
Adam Frazier,18.0,93.500000,307.000000,276.000000,38.000000,78.000000,14.000000,3.500000,4.000000,32.000000,...,4.500000,2.000000,0.000000,571000.0,0.083886,25,0.0,187,PIT,4
Adam Jones,19.0,152.571429,653.428571,610.571429,85.857143,170.428571,28.857143,1.714286,28.714286,86.714286,...,8.857143,5.428571,0.014286,17333333.0,2.546447,31,4.0,1068,BAL,8
Adam Morgan,22.0,23.666667,22.000000,20.000000,1.000000,2.000000,0.666667,0.000000,0.000000,0.666667,...,0.000000,0.000000,0.000000,559000.0,0.082123,27,0.0,71,PHI,1
Adam Ottavino,23.0,44.666667,3.500000,3.000000,0.166667,0.333333,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,-0.016667,7000000.0,1.028373,31,0.0,268,COL,1
Adam Warren,25.0,9.000000,1.400000,1.200000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,3315000.0,0.487008,29,0.0,45,NYY,1
Addison Reed,26.0,40.333333,0.333333,0.333333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,-0.016667,8250000.0,1.212011,28,0.0,242,MIN,1
Addison Russell,27.0,134.333333,502.000000,450.666667,59.666667,108.000000,25.000000,2.333333,15.333333,64.000000,...,6.333333,2.666667,2.433333,3200000.0,0.470113,23,1.0,403,CHC,6
Adeiny Hechavarria,28.0,119.500000,447.166667,418.833333,39.333333,106.833333,15.000000,5.833333,3.666667,34.500000,...,1.000000,2.833333,0.683333,5900000.0,0.866771,28,0.0,717,TBR,6
Adrian Beltre,31.0,139.857143,590.142857,537.285714,80.428571,165.571429,30.857143,1.285714,26.285714,90.571429,...,4.714286,5.857143,1.214286,18000000.0,2.644387,38,3.0,979,TEX,5
Albert Almora,33.0,89.500000,220.000000,205.500000,26.500000,60.000000,13.500000,1.000000,5.500000,30.000000,...,0.000000,1.000000,0.100000,584500.0,0.085869,23,0.0,179,CHC,8
Albert Pujols,34.0,145.285714,629.428571,571.142857,76.714286,152.571429,27.571429,0.142857,29.428571,98.285714,...,4.142857,6.000000,-0.671429,27000000.0,3.966581,37,1.0,1017,LAA,3
Alcides Escobar,35.0,157.857143,640.142857,598.142857,67.428571,156.571429,26.428571,5.714286,4.571429,50.857143,...,5.142857,3.571429,0.914286,2500000.0,0.367276,30,1.0,1105,KCR,6
Aledmys Diaz,37.0,95.000000,380.500000,345.000000,51.000000,97.500000,22.500000,1.500000,12.000000,42.500000,...,3.500000,3.500000,-0.250000,2000000.0,0.293821,26,1.0,190,TOR,6
Alex Avila,39.0,102.714286,375.000000,315.571429,38.428571,76.857143,16.285714,1.142857,10.714286,42.428571,...,1.571429,2.428571,0.600000,4000000.0,0.587642,30,1.0,719,ARI,2
Alex Bregman,40.0,102.000000,421.500000,378.500000,59.500000,105.500000,26.000000,4.000000,13.500000,52.500000,...,3.500000,4.000000,0.250000,599000.0,0.087999,23,0.0,204,HOU,5
Alex Cobb,41.0,2.333333,6.000000,5.666667,0.000000,0.333333,0.333333,0.000000,0.000000,0.333333,...,0.333333,0.000000,0.000000,14000000.0,2.056746,29,0.0,7,BAL,1
Alex Gordon,42.0,143.428571,603.285714,532.000000,75.000000,140.714286,30.142857,2.857143,16.428571,63.857143,...,9.428571,3.714286,1.171429,20000000.0,2.938208,33,3.0,1004,KCR,7
Alex Wood,45.0,26.200000,42.800000,37.000000,1.400000,3.800000,0.400000,0.000000,0.000000,2.400000,...,0.000000,0.000000,0.000000,6000000.0,0.881462,26,1.0,131,LAD,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Whit Merrifield,810.0,113.000000,481.000000,449.000000,62.000000,128.500000,27.000000,4.500000,10.500000,53.500000,...,3.000000,4.000000,0.850000,569500.0,0.083665,28,0.0,226,KCR,4
Wil Myers,811.0,109.400000,462.400000,410.200000,61.200000,104.000000,21.600000,1.600000,17.000000,57.000000,...,2.200000,3.600000,-0.660000,4500000.0,0.661097,26,1.0,547,SDP,7
Will Harris,812.0,19.500000,0.166667,0.166667,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,-0.016667,2800000.0,0.411349,32,1.0,117,HOU,1
Willson Contreras,814.0,96.500000,355.500000,314.500000,41.500000,87.500000,17.500000,0.500000,16.500000,54.500000,...,3.500000,1.500000,0.750000,604500.0,0.088807,25,0.0,193,CHC,2
Wilmer Difo,815.0,56.666667,147.333333,133.666667,20.666667,36.000000,4.333333,1.333333,2.000000,9.333333,...,0.333333,1.000000,0.533333,557900.0,0.081961,25,0.0,170,WSN,4
Wilmer Flores,816.0,91.000000,316.400000,296.000000,34.200000,77.000000,14.200000,0.400000,11.400000,40.400000,...,2.000000,2.600000,-0.720000,3400000.0,0.499495,25,0.0,455,NYM,3
Wilson Ramos,817.0,89.571429,349.428571,323.571429,34.000000,86.571429,13.142857,0.142857,13.285714,50.142857,...,0.571429,3.142857,0.685714,8500000.0,1.248738,29,1.0,627,TBR,2
Wily Peralta,818.0,20.666667,38.666667,33.333333,1.333333,3.333333,0.666667,0.000000,0.166667,1.833333,...,0.000000,0.333333,0.000000,1500000.0,0.220366,28,0.0,124,KCR,1
Xander Bogaerts,819.0,124.600000,530.400000,483.600000,72.000000,136.800000,26.200000,2.200000,10.200000,56.600000,...,4.600000,3.200000,-0.080000,7050000.0,1.035718,24,1.0,623,BOS,6
Yadier Molina,823.0,134.571429,531.571429,487.428571,54.000000,144.571429,30.428571,0.714286,12.142857,65.714286,...,3.571429,5.428571,1.685714,20000000.0,2.938208,34,6.0,942,STL,2
Yan Gomes,824.0,90.000000,331.166667,305.166667,36.333333,74.333333,15.833333,1.000000,11.833333,43.333333,...,5.000000,3.833333,0.933333,6033333.0,0.886359,29,0.0,540,CLE,2
Yangervis Solarte,825.0,130.000000,515.250000,466.500000,55.750000,124.750000,24.750000,1.500000,14.250000,61.500000,...,5.000000,4.000000,0.025000,4125000.0,0.606005,29,0.0,520,TOR,5
Yasiel Puig,826.0,117.400000,464.200000,411.000000,61.000000,115.600000,21.600000,3.600000,17.000000,53.600000,...,6.800000,2.600000,0.280000,9214000.0,1.353632,26,1.0,587,LAD,9
Yasmani Grandal,827.0,97.666667,357.000000,306.666667,38.333333,73.500000,14.500000,0.500000,14.833333,45.166667,...,1.333333,2.666667,0.350000,7900000.0,1.160592,28,1.0,586,LAD,2
Yimi Garcia,828.0,24.000000,0.333333,0.333333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,630000.0,0.092554,25,0.0,72,LAD,1
Yoenis Cespedes,829.0,131.333333,549.833333,503.166667,75.333333,138.000000,27.666667,4.000000,25.666667,82.500000,...,4.833333,4.333333,-0.216667,29000000.0,4.260402,31,2.0,788,NYM,7
Yolmer Sanchez,830.0,85.500000,305.250000,281.750000,31.000000,68.250000,14.000000,2.500000,5.250000,29.000000,...,2.500000,1.750000,0.725000,2350000.0,0.345239,25,0.0,342,CHW,5
Yonder Alonso,831.0,112.000000,405.000000,360.714286,41.571429,97.000000,21.000000,0.285714,9.571429,43.285714,...,1.714286,3.000000,-0.428571,7000000.0,1.028373,30,1.0,784,CLE,3
Yovani Gallardo,832.0,18.857143,41.285714,36.571429,2.714286,7.000000,1.571429,0.000000,0.571429,2.571429,...,0.000000,0.000000,0.000000,750000.0,0.110183,31,0.0,132,TOT,1
Yoan Moncada,833.0,31.000000,125.500000,109.000000,17.000000,25.000000,4.500000,1.000000,4.000000,11.500000,...,1.500000,0.000000,0.400000,555000.0,0.081535,22,0.0,62,CHW,4
Yu Darvish,834.0,3.000000,6.800000,6.200000,0.200000,0.800000,0.200000,0.000000,0.200000,0.200000,...,0.000000,0.000000,0.000000,25000000.0,3.672760,30,4.0,15,CHC,1
Yuli Gurriel,835.0,87.500000,350.500000,329.500000,41.000000,96.000000,25.000000,0.500000,10.500000,45.000000,...,4.000000,3.500000,-0.600000,12400000.0,1.821689,33,0.0,175,HOU,3
Yusmeiro Petit,836.0,19.833333,10.333333,9.500000,0.500000,0.500000,0.000000,0.000000,0.000000,0.333333,...,0.000000,0.000000,0.000000,500000.0,0.073455,32,0.0,119,OAK,1
Zach Britton,838.0,2.800000,1.600000,1.600000,0.600000,1.000000,0.200000,0.000000,0.200000,0.400000,...,0.000000,0.000000,0.000000,12000000.0,1.762925,29,2.0,14,BAL,1
Zach Davies,839.0,22.000000,48.000000,38.000000,3.333333,4.000000,0.666667,0.000000,0.000000,1.333333,...,0.000000,0.000000,0.000000,572000.0,0.084033,24,0.0,66,MIL,1
Zach Duke,840.0,25.857143,4.000000,3.428571,0.428571,1.142857,0.000000,0.000000,0.285714,0.857143,...,0.000000,0.000000,-0.014286,2150000.0,0.315857,34,0.0,181,MIN,1
Zach McAllister,842.0,3.200000,1.200000,1.200000,0.000000,0.200000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,2450000.0,0.359930,29,0.0,16,CLE,1
Zack Godley,843.0,19.000000,27.333333,23.000000,0.666667,1.666667,0.000000,0.000000,0.000000,0.666667,...,0.000000,0.000000,0.000000,579200.0,0.085091,27,0.0,57,ARI,1
Zack Greinke,844.0,27.285714,63.571429,54.428571,5.000000,12.000000,2.714286,0.000000,0.714286,2.857143,...,0.285714,0.571429,0.000000,34000000.0,4.994954,33,3.0,191,ARI,1
Zack Wheeler,845.0,21.666667,42.000000,35.666667,1.000000,3.333333,1.000000,0.000000,0.000000,1.666667,...,0.000000,0.000000,0.000000,1900000.0,0.279130,27,0.0,65,NYM,1

In [749]:
with open('all_top40.pkl', 'wb') as picklefile:
    pickle.dump(df2, picklefile)

In [624]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 598 entries, A.J. Cole to Zack Wheeler
Data columns (total 28 columns):
index                 598 non-null float64
Games_Played          598 non-null float64
Plate_Appearances     598 non-null float64
At_Bats               598 non-null float64
Runs                  598 non-null float64
Hits                  598 non-null float64
2B                    598 non-null float64
3B                    598 non-null float64
HR                    598 non-null float64
RBI                   598 non-null float64
BA                    598 non-null float64
OBP                   598 non-null float64
SLG                   598 non-null float64
OPS                   598 non-null float64
SB                    598 non-null float64
BB                    598 non-null float64
SO                    598 non-null float64
TB                    598 non-null float64
HBP                   598 non-null float64
SF                    598 non-null float64
dWAR                  598 non-null float64
Salary                598 non-null float64
Adj_Salary            598 non-null float64
Age                   598 non-null int64
All_star_count        598 non-null float64
Total_games_played    598 non-null int64
Team                  598 non-null object
Pos                   598 non-null object
dtypes: float64(24), int64(2), object(2)
memory usage: 135.5+ KB

In [625]:
df2[df2['Salary'] == 11000000]

,index,Games_Played,Plate_Appearances,At_Bats,Runs,Hits,2B,3B,HR,RBI,...,HBP,SF,dWAR,Salary,Adj_Salary,Age,All_star_count,Total_games_played,Team,Pos
Player_Name,,,,,,,,,,,,,,,,,,,,,
Andrelton Simmons,48.0,130.166667,521.500000,480.666667,53.666667,127.000000,22.666667,3.000000,8.166667,46.833333,...,2.500000,3.833333,3.683333,11000000.0,1.616014,27,0.0,781,LAA,6
Denard Span,240.0,118.714286,523.285714,476.428571,65.428571,133.714286,26.714286,5.428571,6.142857,37.000000,...,1.714286,1.428571,0.042857,11000000.0,1.616014,33,0.0,831,TOT,7
Ian Kinsler,338.0,150.714286,680.142857,613.857143,101.714286,165.428571,33.714286,4.142857,20.285714,74.428571,...,7.714286,3.857143,1.771429,11000000.0,1.616014,35,2.0,1055,LAA,4
Jay Bruce,385.0,151.285714,627.714286,562.571429,80.142857,138.428571,31.000000,3.000000,29.857143,94.000000,...,2.857143,4.857143,-0.471429,11000000.0,1.616014,30,3.0,1059,NYM,9
Kendrys Morales,488.0,141.666667,574.166667,522.833333,61.000000,138.333333,28.333333,0.500000,22.166667,79.833333,...,5.333333,3.333333,-1.166667,11000000.0,1.616014,34,0.0,850,TOR,D

In [496]:
df2.corr()

,Games_Played,Plate_Appearances,At_Bats,Runs,Hits,2B,3B,HR,RBI,BA,...,Intercept,Catcher,First_Base,Second_Base,Third_Base,Shortstop,Left_Field,Center_Field,Right_Field,DH
Games_Played,1.000000,0.966533,0.966348,0.945866,0.957274,0.945161,0.708242,0.836525,0.926197,0.517860,...,NaN,0.033058,0.234522,0.204347,0.219303,0.199611,0.173640,0.167466,0.207094,0.154461
Plate_Appearances,0.966533,1.000000,0.999083,0.984366,0.992998,0.979235,0.732559,0.873336,0.962062,0.536980,...,NaN,0.039565,0.239948,0.206361,0.222717,0.205743,0.180635,0.148050,0.222092,0.163528
At_Bats,0.966348,0.999083,1.000000,0.980465,0.994153,0.978834,0.738166,0.866356,0.958739,0.538878,...,NaN,0.038719,0.232820,0.211417,0.223020,0.214470,0.179980,0.151116,0.218189,0.162757
Runs,0.945866,0.984366,0.980465,1.000000,0.981882,0.970256,0.746599,0.894875,0.960580,0.525103,...,NaN,-0.012753,0.238421,0.203416,0.211435,0.177093,0.198599,0.168625,0.236248,0.158508
Hits,0.957274,0.992998,0.994153,0.981882,1.000000,0.983038,0.740811,0.857323,0.957042,0.542689,...,NaN,0.024180,0.236765,0.215267,0.220856,0.209541,0.174927,0.144498,0.213609,0.158000
2B,0.945161,0.979235,0.978834,0.970256,0.983038,1.000000,0.703093,0.861580,0.955683,0.531699,...,NaN,0.022192,0.253554,0.203354,0.250410,0.181869,0.175190,0.122665,0.213085,0.151671
3B,0.708242,0.732559,0.738166,0.746599,0.740811,0.703093,1.000000,0.516880,0.623654,0.426400,...,NaN,-0.101655,0.047925,0.234823,0.113824,0.255365,0.208407,0.274852,0.218497,-0.008680
HR,0.836525,0.873336,0.866356,0.894875,0.857323,0.861580,0.516880,1.000000,0.955563,0.444655,...,NaN,0.013014,0.307795,0.064360,0.216673,0.075227,0.186221,0.073317,0.208501,0.267745
RBI,0.926197,0.962062,0.958739,0.960580,0.957042,0.955683,0.623654,0.955563,1.000000,0.508099,...,NaN,0.038273,0.292241,0.130604,0.238231,0.141510,0.177594,0.085793,0.217021,0.221615
BA,0.517860,0.536980,0.538878,0.525103,0.542689,0.531699,0.426400,0.444655,0.508099,1.000000,...,NaN,0.098170,0.146685,0.158999,0.160190,0.139225,0.140732,0.112834,0.146197,0.097171
OBP,0.573672,0.595819,0.593014,0.586228,0.590376,0.581268,0.451138,0.510149,0.566717,0.948455,...,NaN,0.125497,0.183064,0.156638,0.173739,0.139208,0.166047,0.125502,0.167387,0.114671
SLG,0.596725,0.620645,0.620352,0.616953,0.617624,0.616150,0.463200,0.593462,0.621514,0.935532,...,NaN,0.110907,0.202485,0.128328,0.193418,0.127966,0.190072,0.124901,0.181361,0.144129
OPS,0.599475,0.625075,0.623740,0.618615,0.620818,0.616088,0.469193,0.572417,0.613184,0.962894,...,NaN,0.120099,0.199022,0.143377,0.189757,0.135865,0.184531,0.128296,0.179824,0.135090
SB,0.582635,0.607896,0.611705,0.646600,0.621378,0.572779,0.732595,0.382903,0.481514,0.337348,...,NaN,-0.123227,0.009178,0.256521,-0.013697,0.206175,0.147640,0.382324,0.137293,-0.016734
BB,0.878028,0.915571,0.898242,0.930783,0.892607,0.896222,0.606902,0.868736,0.911389,0.471436,...,NaN,0.041878,0.300004,0.133133,0.203733,0.106648,0.176374,0.094813,0.239090,0.160869
SO,0.900404,0.927729,0.923708,0.922909,0.897579,0.890414,0.678278,0.898249,0.917579,0.496625,...,NaN,0.042659,0.231074,0.137096,0.199282,0.158466,0.216504,0.177948,0.251023,0.187343
TB,0.952175,0.989065,0.987941,0.987846,0.989519,0.981260,0.712525,0.921175,0.983901,0.531832,...,NaN,0.017350,0.261885,0.180771,0.228563,0.178487,0.186482,0.132268,0.221021,0.188764
HBP,0.729182,0.745406,0.738804,0.743754,0.727177,0.715333,0.530465,0.684670,0.717063,0.392407,...,NaN,0.058135,0.151072,0.160005,0.157143,0.068547,0.150719,0.162301,0.217087,0.144585
SF,0.876778,0.910791,0.908226,0.894980,0.910996,0.912854,0.618251,0.814999,0.913883,0.485789,...,NaN,0.064654,0.225897,0.190322,0.232689,0.153100,0.141035,0.092625,0.170579,0.157641
dWAR,0.144867,0.144760,0.152580,0.123565,0.146466,0.144010,0.204906,-0.020993,0.059006,0.080687,...,NaN,0.233633,-0.266287,0.108308,0.094941,0.292533,-0.131320,0.220454,-0.123196,-0.246544
Salary,0.339062,0.382554,0.375059,0.395629,0.394382,0.387460,0.192429,0.385319,0.408617,0.132699,...,NaN,-0.060004,0.155241,-0.013579,0.022269,-0.034662,0.015670,-0.034785,0.001757,0.145434
Adj_Salary,0.339062,0.382554,0.375059,0.395629,0.394382,0.387460,0.192429,0.385319,0.408617,0.132699,...,NaN,-0.060004,0.155241,-0.013579,0.022269,-0.034662,0.015670,-0.034785,0.001757,0.145434
Age,0.167830,0.125114,0.120760,0.111275,0.125174,0.129351,-0.027390,0.087452,0.122398,0.020187,...,NaN,0.055849,0.047101,-0.004327,-0.041463,-0.158404,-0.016579,-0.066504,-0.079730,0.124534
All_star_count,0.324173,0.360350,0.352903,0.391329,0.382470,0.380511,0.175984,0.400565,0.406491,0.137283,...,NaN,0.007967,0.085492,0.043459,0.009961,-0.032362,0.018976,-0.001009,0.010914,0.060945
Total_games_played,0.893840,0.871145,0.868288,0.846310,0.864405,0.851928,0.581313,0.729366,0.827398,0.429345,...,NaN,0.046673,0.227633,0.191226,0.159030,0.095794,0.133062,0.081837,0.159315,0.168054
Intercept,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Catcher,0.033058,0.039565,0.038719,-0.012753,0.024180,0.022192,-0.101655,0.013014,0.038273,0.098170,...,NaN,1.000000,-0.080913,-0.084355,-0.087697,-0.079741,-0.086593,-0.077357,-0.085479,-0.050537
First_Base,0.234522,0.239948,0.232820,0.238421,0.236765,0.253554,0.047925,0.307795,0.292241,0.146685,...,NaN,-0.080913,1.000000,-0.068759,-0.071484,-0.064998,-0.070584,-0.063055,-0.069676,-0.041194
Second_Base,0.204347,0.206361,0.211417,0.203416,0.215267,0.203354,0.234823,0.064360,0.130604,0.158999,...,NaN,-0.084355,-0.068759,1.000000,-0.074525,-0.067764,-0.073587,-0.065737,-0.072640,-0.042946
Third_Base,0.219303,0.222717,0.223020,0.211435,0.220856,0.250410,0.113824,0.216673,0.238231,0.160190,...,NaN,-0.087697,-0.071484,-0.074525,1.000000,-0.070448,-0.076502,-0.068342,-0.075518,-0.044648
Shortstop,0.199611,0.205743,0.214470,0.177093,0.209541,0.181869,0.255365,0.075227,0.141510,0.139225,...,NaN,-0.079741,-0.064998,-0.067764,-0.070448,1.000000,-0.069562,-0.062142,-0.068667,-0.040597
Left_Field,0.173640,0.180635,0.179980,0.198599,0.174927,0.175190,0.208407,0.186221,0.177594,0.140732,...,NaN,-0.086593,-0.070584,-0.073587,-0.076502,-0.069562,1.000000,-0.067482,-0.074568,-0.044086
Center_Field,0.167466,0.148050,0.151116,0.168625,0.144498,0.122665,0.274852,0.073317,0.085793,0.112834,...,NaN,-0.077357,-0.063055,-0.065737,-0.068342,-0.062142,-0.067482,1.000000,-0.066614,-0.039383
Right_Field,0.207094,0.222092,0.218189,0.236248,0.213609,0.213085,0.218497,0.208501,0.217021,0.146197,...,NaN,-0.085479,-0.069676,-0.072640,-0.075518,-0.068667,-0.074568,-0.066614,1.000000,-0.043519
DH,0.154461,0.163528,0.162757,0.158508,0.158000,0.151671,-0.008680,0.267745,0.221615,0.097171,...,NaN,-0.050537,-0.041194,-0.042946,-0.044648,-0.040597,-0.044086,-0.039383,-0.043519,1.000000

In [497]:
df2

,Games_Played,Plate_Appearances,At_Bats,Runs,Hits,2B,3B,HR,RBI,BA,...,Intercept,Catcher,First_Base,Second_Base,Third_Base,Shortstop,Left_Field,Center_Field,Right_Field,DH
Player_Name,,,,,,,,,,,,,,,,,,,,,
A.J. Cole,7.000000,8.666667,7.666667,0.000000,0.666667,0.000000,0.000000,0.000000,0.000000,0.047619,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A.J. Ellis,78.571429,282.714286,239.428571,24.000000,56.285714,9.857143,0.428571,6.142857,28.142857,0.233300,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A.J. Pollock,87.333333,341.166667,310.666667,51.000000,89.000000,20.500000,4.000000,8.833333,33.166667,0.273747,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
Aaron Altherr,51.250000,201.250000,178.000000,26.500000,43.250000,10.250000,2.250000,7.000000,27.250000,0.177338,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
Aaron Hicks,91.600000,330.000000,289.400000,38.600000,67.000000,12.200000,1.400000,8.600000,32.200000,0.229163,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
Aaron Judge,91.000000,386.500000,313.000000,69.000000,84.500000,13.000000,1.500000,28.000000,62.000000,0.231352,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
Aaron Loup,3.200000,0.200000,0.200000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Aaron Nola,18.666667,38.333333,33.666667,1.333333,2.333333,0.333333,0.000000,0.000000,0.666667,0.067874,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Abraham Almonte,60.400000,189.800000,172.400000,23.000000,42.400000,10.800000,2.000000,2.800000,16.800000,0.248115,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
Adam Duvall,90.500000,351.000000,319.000000,44.250000,76.750000,18.000000,2.250000,18.000000,54.000000,0.225049,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
Adam Eaton,90.666667,403.333333,356.833333,58.000000,101.500000,17.166667,5.833333,6.000000,31.666667,0.279859,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
Adam Engel,97.000000,336.000000,301.000000,34.000000,50.000000,11.000000,3.000000,6.000000,21.000000,0.166113,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
Adam Frazier,93.500000,307.000000,276.000000,38.000000,78.000000,14.000000,3.500000,4.000000,32.000000,0.288616,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
Adam Jones,152.571429,653.428571,610.571429,85.857143,170.428571,28.857143,1.714286,28.714286,86.714286,0.278898,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
Adam Morgan,23.666667,22.000000,20.000000,1.000000,2.000000,0.666667,0.000000,0.000000,0.666667,0.223558,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Adam Ottavino,44.666667,3.500000,3.000000,0.166667,0.333333,0.000000,0.000000,0.000000,0.000000,0.111111,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Adam Warren,9.000000,1.400000,1.200000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Addison Reed,40.333333,0.333333,0.333333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Addison Russell,134.333333,502.000000,450.666667,59.666667,108.000000,25.000000,2.333333,15.333333,64.000000,0.239612,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
Adeiny Hechavarria,119.500000,447.166667,418.833333,39.333333,106.833333,15.000000,5.833333,3.666667,34.500000,0.255714,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
Adrian Beltre,139.857143,590.142857,537.285714,80.428571,165.571429,30.857143,1.285714,26.285714,90.571429,0.307985,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
Albert Almora,89.500000,220.000000,205.500000,26.500000,60.000000,13.500000,1.000000,5.500000,30.000000,0.287222,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
Albert Pujols,145.285714,629.428571,571.142857,76.714286,152.571429,27.571429,0.142857,29.428571,98.285714,0.266756,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Alcides Escobar,157.857143,640.142857,598.142857,67.428571,156.571429,26.428571,5.714286,4.571429,50.857143,0.261810,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
Aledmys Diaz,95.000000,380.500000,345.000000,51.000000,97.500000,22.500000,1.500000,12.000000,42.500000,0.279123,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
Alex Avila,102.714286,375.000000,315.571429,38.428571,76.857143,16.285714,1.142857,10.714286,42.428571,0.235812,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Alex Bregman,102.000000,421.500000,378.500000,59.500000,105.500000,26.000000,4.000000,13.500000,52.500000,0.273927,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
Alex Cobb,2.333333,6.000000,5.666667,0.000000,0.333333,0.333333,0.000000,0.000000,0.333333,0.041667,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Alex Gordon,143.428571,603.285714,532.000000,75.000000,140.714286,30.142857,2.857143,16.428571,63.857143,0.261200,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
Alex Wood,26.200000,42.800000,37.000000,1.400000,3.800000,0.400000,0.000000,0.000000,2.400000,0.108900,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Whit Merrifield,113.000000,481.000000,449.000000,62.000000,128.500000,27.000000,4.500000,10.500000,53.500000,0.285431,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
Wil Myers,109.400000,462.400000,410.200000,61.200000,104.000000,21.600000,1.600000,17.000000,57.000000,0.253912,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
Will Harris,19.500000,0.166667,0.166667,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Willson Contreras,96.500000,355.500000,314.500000,41.500000,87.500000,17.500000,0.500000,16.500000,54.500000,0.278804,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Wilmer Difo,56.666667,147.333333,133.666667,20.666667,36.000000,4.333333,1.333333,2.000000,9.333333,0.242922,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
Wilmer Flores,91.000000,316.400000,296.000000,34.200000,77.000000,14.200000,0.400000,11.400000,40.400000,0.252473,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Wilson Ramos,89.571429,349.428571,323.571429,34.000000,86.571429,13.142857,0.142857,13.285714,50.142857,0.266742,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Wily Peralta,20.666667,38.666667,33.333333,1.333333,3.333333,0.666667,0.000000,0.166667,1.833333,0.112641,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Xander Bogaerts,124.600000,530.400000,483.600000,72.000000,136.800000,26.200000,2.200000,10.200000,56.600000,0.275440,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
Yadier Molina,134.571429,531.571429,487.428571,54.000000,144.571429,30.428571,0.714286,12.142857,65.714286,0.296024,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Yan Gomes,90.000000,331.166667,305.166667,36.333333,74.333333,15.833333,1.000000,11.833333,43.333333,0.234392,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Yangervis Solarte,130.000000,515.250000,466.500000,55.750000,124.750000,24.750000,1.500000,14.250000,61.500000,0.267969,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
Yasiel Puig,117.400000,464.200000,411.000000,61.000000,115.600000,21.600000,3.600000,17.000000,53.600000,0.279278,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
Yasmani Grandal,97.666667,357.000000,306.666667,38.333333,73.500000,14.500000,0.500000,14.833333,45.166667,0.241139,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Yimi Garcia,24.000000,0.333333,0.333333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Yoenis Cespedes,131.333333,549.833333,503.166667,75.333333,138.000000,27.666667,4.000000,25.666667,82.500000,0.275697,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
Yolmer Sanchez,85.500000,305.250000,281.750000,31.000000,68.250000,14.000000,2.500000,5.250000,29.000000,0.236993,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
Yonder Alonso,112.000000,405.000000,360.714286,41.571429,97.000000,21.000000,0.285714,9.571429,43.285714,0.275083,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Yovani Gallardo,18.857143,41.285714,36.571429,2.714286,7.000000,1.571429,0.000000,0.571429,2.571429,0.315201,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Yoan Moncada,31.000000,125.500000,109.000000,17.000000,25.000000,4.500000,1.000000,4.000000,11.500000,0.220841,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
Yu Darvish,3.000000,6.800000,6.200000,0.200000,0.800000,0.200000,0.000000,0.200000,0.200000,0.185098,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Yuli Gurriel,87.500000,350.500000,329.500000,41.000000,96.000000,25.000000,0.500000,10.500000,45.000000,0.280108,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Yusmeiro Petit,19.833333,10.333333,9.500000,0.500000,0.500000,0.000000,0.000000,0.000000,0.333333,0.053833,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zach Britton,2.800000,1.600000,1.600000,0.600000,1.000000,0.200000,0.000000,0.200000,0.400000,0.625000,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zach Davies,22.000000,48.000000,38.000000,3.333333,4.000000,0.666667,0.000000,0.000000,1.333333,0.098754,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zach Duke,25.857143,4.000000,3.428571,0.428571,1.142857,0.000000,0.000000,0.285714,0.857143,0.325000,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zach McAllister,3.200000,1.200000,1.200000,0.000000,0.200000,0.000000,0.000000,0.000000,0.000000,0.250000,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zack Godley,19.000000,27.333333,23.000000,0.666667,1.666667,0.000000,0.000000,0.000000,0.666667,0.089947,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zack Greinke,27.285714,63.571429,54.428571,5.000000,12.000000,2.714286,0.000000,0.714286,2.857143,0.218237,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zack Wheeler,21.666667,42.000000,35.666667,1.000000,3.333333,1.000000,0.000000,0.000000,1.666667,0.095802,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [498]:
X=patsy.dmatrix('Pos',data=df2,return_type='dataframe')
X.head()

,Intercept,Pos[T.2],Pos[T.3],Pos[T.4],Pos[T.5],Pos[T.6],Pos[T.7],Pos[T.8],Pos[T.9],Pos[T.D]
Player_Name,,,,,,,,,,
A.J. Cole,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A.J. Ellis,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A.J. Pollock,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
Aaron Altherr,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
Aaron Hicks,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [499]:
df2=df2.join(X)

ValueError: columns overlap but no suffix specified: Index(['Intercept'], dtype='object')

In [ ]:
df2['Catcher'] = df2['Pos[T.2]']
df2['First_Base'] = df2['Pos[T.3]']
df2['Second_Base'] = df2['Pos[T.4]']
df2['Third_Base'] = df2['Pos[T.5]']
df2['Shortstop'] = df2['Pos[T.6]']
df2['Left_Field'] = df2['Pos[T.7]']
df2['Center_Field'] = df2['Pos[T.8]']
df2['Right_Field'] = df2['Pos[T.9]']
df2['DH'] = df2['Pos[T.D]']

df2 = df2.drop(['Pos[T.2]','Pos[T.3]','Pos[T.4]','Pos[T.5]','Pos[T.6]','Pos[T.7]','Pos[T.8]','Pos[T.9]','Pos[T.D]'],1)

In [ ]:
df2

In [ ]:
df2.info()

In [ ]:
batters_only = df2[df2['Pos'] != '1']

In [ ]:
batters_only = batters_only.rename(index=str, columns={"2B": "Doubles", "3B": "Triples"})

In [ ]:
batters_only.info()

In [ ]:
batters_only.corr()

In [ ]:
sns.stripplot(x="Pos", y="Adj_Salary", data=batters_only)

In [ ]:
salary_df = batters_only.sort_values(by='Adj_Salary', ascending=False)
salary_df[:10]

In [ ]:
batters_only[batters_only['index'] == 169]['Adj_Salary']

In [ ]:
batters_only[batters_only['index'] == 411]['Adj_Salary']

In [ ]:
batters_only_df = batters_only[['Runs', 'Hits', 'Doubles', 'Triples', 'HR', 'RBI', 'BA', 'OBP', 'SLG',
                                'OPS', 'SB', 'TB', 'SF', 'Adj_Salary', 'Age', 'Total_games_played',
                                'dWAR','All_star_count','Catcher','First_Base','Second_Base','Third_Base',
                                'Shortstop','Left_Field','Center_Field','Right_Field','DH','Team']]

In [ ]:
#sns.pairplot(batters_only_df, size=1.2, aspect=1.5)

In [ ]:
batters_only_df['log_salary'] = np.log(batters_only_df.Adj_Salary)

batters_only_df.log_salary.hist()

In [ ]:
batters_only_df.corr()

In [ ]:
batters_only_df['Team'].unique()

In [ ]:
batters_only_df.corr()

In [ ]:
plt.scatter(batters_only_df['BA'], batters_only_df['Adj_Salary'])

In [ ]:
## Remove players below Mendoza line

batters_only_df = batters_only_df[batters_only_df['BA'] > 0.2]

plt.scatter(batters_only_df['BA'], batters_only_df['Adj_Salary'])

In [ ]:
y, X = patsy.dmatrices('Adj_Salary ~ Runs + Hits + Doubles + HR + RBI + BA + OBP + SLG + OPS + SB + TB + SF + Age + Total_games_played + All_star_count + dWAR',
                       data=batters_only_df, return_type="dataframe")

model = sm.OLS(y, X)
fit = model.fit()
fit.summary()

In [ ]:
diagnostic_plots.diagnostic_plots(batters_only_df.drop(
    'Adj_Salary', axis=1), batters_only_df['Adj_Salary'], fit)

In [ ]:
y, X = patsy.dmatrices('log_salary ~ Runs + Hits + Doubles + HR + RBI + BA + OBP + SLG + OPS + SB + TB + SF + Age + Total_games_played + All_star_count + dWAR',
                       data=batters_only_df, return_type="dataframe")

model2 = sm.OLS(y, X)
fit2 = model2.fit()
fit2.summary()

In [ ]:
diagnostic_plots.diagnostic_plots(batters_only_df.drop(
    'log_salary', axis=1), batters_only_df['log_salary'], fit2)

In [ ]:
y, X = patsy.dmatrices('log_salary ~ Runs + Hits + Doubles + RBI + OBP + SLG + OPS + SB + TB + SF + Age + Total_games_played + All_star_count + dWAR',
                       data=batters_only_df, return_type="dataframe")

model3 = sm.OLS(y, X)

fit3 = model3.fit()

fit3.summary()

In [ ]:
diagnostic_plots.diagnostic_plots(batters_only_df.drop(
    'log_salary', axis=1), batters_only_df['log_salary'], fit3)

In [ ]:
y, X = patsy.dmatrices('log_salary ~ Runs + Doubles + RBI + OBP + SLG + OPS + SB + TB + SF + Age + Total_games_played + All_star_count + dWAR',
                       data=batters_only_df, return_type="dataframe")

model4 = sm.OLS(y, X)

fit4 = model4.fit()

fit4.summary()

In [ ]:
diagnostic_plots.diagnostic_plots(batters_only_df.drop(
    'log_salary', axis=1), batters_only_df['log_salary'], fit4)

In [ ]:
y, X = patsy.dmatrices('log_salary ~ Hits + HR + RBI + BA + OPS + SB + TB + Age + dWAR + Total_games_played',
                       data=batters_only_df, return_type="dataframe")

model5 = sm.OLS(y, X)

fit5 = model5.fit()

fit5.summary()

In [ ]:
diagnostic_plots.diagnostic_plots(batters_only_df.drop(
    'log_salary', axis=1), batters_only_df['log_salary'], fit5)

In [ ]:
fit5.resid.plot(style='o', figsize=(12, 8))

In [ ]:
y, X = patsy.dmatrices('log_salary ~ Runs + Hits + Doubles + HR + RBI + BA + OBP + SLG + OPS + SB + TB + SF + Age + Total_games_played + All_star_count + dWAR + Catcher + First_Base + Second_Base + Third_Base + Shortstop + Left_Field + Center_Field + Right_Field + DH',
                       data=batters_only_df, return_type="dataframe")

model6 = sm.OLS(y, X)

fit6 = model6.fit()

fit6.summary()

In [ ]:
diagnostic_plots.diagnostic_plots(batters_only_df.drop(
    'log_salary', axis=1), batters_only_df['log_salary'], fit6)

In [ ]:
batters_only_df['rootASC'] = batters_only_df['All_star_count']**0.5

In [ ]:
y, X = patsy.dmatrices('log_salary ~ Doubles + RBI + BA + SB + TB + Total_games_played + rootASC + dWAR + Catcher + First_Base + Second_Base + Third_Base + Shortstop + Left_Field + Center_Field + Right_Field',
                       data=batters_only_df, return_type="dataframe")

model7 = sm.OLS(y, X)

fit7 = model7.fit()

fit7.summary()

In [ ]:
diagnostic_plots.diagnostic_plots(batters_only_df.drop(
    'log_salary', axis=1), batters_only_df['log_salary'], fit7)

In [ ]:

#sns.pairplot(new_df, size=1.2, aspect=1.5)

In [ ]:
X2=patsy.dmatrix('Team',data=batters_only_df,return_type='dataframe')
X2.head()

In [ ]:
batters_only_df=batters_only_df.join(X2)

In [ ]:
batters_only_df

In [ ]:
batters_only_df['LAA'] = batters_only_df['Team[T.LAA]']
batters_only_df['LAD'] = batters_only_df['Team[T.LAD]']
batters_only_df['PIT'] = batters_only_df['Team[T.PIT]']
batters_only_df['SDP'] = batters_only_df['Team[T.SDP]']
batters_only_df['STL'] = batters_only_df['Team[T.STL]']
batters_only_df['TBR'] = batters_only_df['Team[T.TBR]']
batters_only_df['TOR'] = batters_only_df['Team[T.TOR]']
batters_only_df['WSN'] = batters_only_df['Team[T.WSN]']
batters_only_df['SFG'] = batters_only_df['Team[T.SFG]']
batters_only_df['DET'] = batters_only_df['Team[T.DET]']
batters_only_df['NYM'] = batters_only_df['Team[T.NYM]']
batters_only_df['MIA'] = batters_only_df['Team[T.MIA]']


batters_only_df = batters_only_df.drop(['Team[T.LAA]','Team[T.LAD]','Team[T.PIT]',
                                        'Team[T.SDP]','Team[T.STL]','Team[T.TBR]',
                                        'Team[T.TOR]','Team[T.WSN]','Team[T.SFG]',
                                        'Team[T.DET]','Team[T.NYM]','Team[T.MIA]'],1)

In [ ]:
## change column Team[] names to team name

batters_only_df['ATL'] = batters_only_df['Team[T.ATL]']
batters_only_df['BAL'] = batters_only_df['Team[T.BAL]']
batters_only_df['BOS'] = batters_only_df['Team[T.BOS]']
batters_only_df['CHC'] = batters_only_df['Team[T.CHC]']
batters_only_df['CHW'] = batters_only_df['Team[T.CHW]']
batters_only_df['CIN'] = batters_only_df['Team[T.CIN]']
batters_only_df['CLE'] = batters_only_df['Team[T.CLE]']
batters_only_df['COL'] = batters_only_df['Team[T.COL]']
batters_only_df['HOU'] = batters_only_df['Team[T.HOU]']
batters_only_df['KCR'] = batters_only_df['Team[T.KCR]']
batters_only_df['MIL'] = batters_only_df['Team[T.MIL]']
batters_only_df['MIN'] = batters_only_df['Team[T.MIN]']
batters_only_df['NYY'] = batters_only_df['Team[T.NYY]']
batters_only_df['OAK'] = batters_only_df['Team[T.OAK]']
batters_only_df['PHI'] = batters_only_df['Team[T.PHI]']
batters_only_df['SEA'] = batters_only_df['Team[T.SEA]']
batters_only_df['TEX'] = batters_only_df['Team[T.TEX]']
batters_only_df['TOT'] = batters_only_df['Team[T.TOT]']


batters_only_df = batters_only_df.drop(['Team[T.ATL]','Team[T.BAL]','Team[T.BOS]',
                                        'Team[T.CHC]','Team[T.CHW]','Team[T.CIN]',
                                        'Team[T.CLE]','Team[T.COL]','Team[T.HOU]',
                                        'Team[T.KCR]','Team[T.MIL]','Team[T.MIN]',
                                        'Team[T.NYY]','Team[T.OAK]','Team[T.PHI]',
                                        'Team[T.SEA]','Team[T.TEX]','Team[T.TOT]',
                                        'Team'],1)

In [ ]:
batters_only_df.corr()

In [ ]:
y, X = patsy.dmatrices('log_salary ~ Hits + RBI + OPS + SB + Age + Total_games_played +'
                       'First_Base + Second_Base + Shortstop + Left_Field + Right_Field +'
                       'LAA + LAD + PIT + SDP + STL + TBR + TOR + WSN + SFG + DET + NYM + MIA',
                       data=batters_only_df, return_type="dataframe")

model12 = sm.OLS(y, X)

fit12 = model12.fit()

fit12.summary()

In [ ]:
diagnostic_plots.diagnostic_plots(batters_only_df.drop(
    'log_salary', axis=1), batters_only_df['log_salary'], fit12)

In [ ]:
y, X = patsy.dmatrices('log_salary ~ Hits + RBI + OPS + SB + Age + Total_games_played +'
                       'First_Base + Second_Base + Shortstop + Left_Field + Right_Field +'
                       'LAA + PIT + WSN',
                       data=batters_only_df, return_type="dataframe")

model13 = sm.OLS(y, X)

fit13 = model13.fit()

fit13.summary()

In [ ]:
## NORMALIZE NON-CATEGORICAL VALUES

In [ ]:
no_categorical = batters_only_df[['Runs', 'Hits', 'Doubles', 'Triples', 'HR', 'RBI',
                                  'BA', 'OBP', 'SLG', 'OPS', 'SB', 'TB', 'SF', 'Adj_Salary',
                                  'Age', 'Total_games_played', 'dWAR', 'All_star_count', 'log_salary']]

In [ ]:
no_categorical

In [ ]:
from sklearn import preprocessing
normalized_categorical = preprocessing.normalize(no_categorical, axis=0)

In [ ]:
normalized_categorical=pd.DataFrame(normalized_categorical,columns=no_categorical.columns)

In [ ]:
normalized_categorical

In [ ]:
no_categorical.reset_index(inplace=True)

In [ ]:
no_categorical

In [ ]:
normalized_categorical['Player_Name'] = no_categorical['Player_Name']

In [ ]:
normalized_categorical

In [ ]:
batters_only_df.columns

In [ ]:
categorical_data = batters_only_df[['Catcher','First_Base','Second_Base','Third_Base','Shortstop',
                                    'Left_Field', 'Right_Field','Center_Field','DH','LAA', 'LAD',
                                    'PIT', 'SDP', 'STL', 'TBR','TOR','WSN','SFG','DET','NYM','MIA',
                                    'ATL', 'BAL', 'BOS', 'CHC', 'CHW', 'CIN', 'CLE', 'COL','HOU',
                                    'KCR', 'MIL', 'MIN', 'NYY', 'OAK','PHI','SEA','TEX','TOT']]

In [ ]:
categorical_data

In [ ]:
categorical_data.reset_index(inplace=True)

In [ ]:
norm_batters = pd.merge(normalized_categorical, categorical_data)

In [ ]:
norm_batters = norm_batters.set_index('Player_Name')

In [ ]:
norm_batters.describe()

In [ ]:
salary_df = norm_batters.sort_values(by='Adj_Salary', ascending=False)
salary_df[:10]

In [ ]:
y = norm_batters.log_salary
X = norm_batters.drop(['log_salary','Adj_Salary'],1)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y)

model.fit(X_train,y_train)
model.score(X_test,y_test)