In [13]:
import pickle
import requests
from bs4 import BeautifulSoup
import time
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import time
import os
import pandas as pd
import numpy as np
import re

chromedriver = "/Applications/chromedriver" # path to the chromedriver executable
os.environ["webdriver.chrome.driver"] = chromedriver

driver = webdriver.Chrome(chromedriver)

#response = requests.get('https://www.baseball-reference.com/players/g/gonzaad01.shtml')

#soup = BeautifulSoup(response.text, 'html5lib')

player_list = []
batting_stats = []
player_name = ''
player_salary = ''
team_list = []

def page_scrape(url):
    driver.get(url)

    soup = BeautifulSoup(driver.page_source, 'html5lib')
    
    return soup

def get_team(url):
    response = requests.get(url)
    
    soup = BeautifulSoup(response.text, 'html5lib')
    
    url_origin = 'http://www.baseball-reference.com'
    
    team_urls = []
    
    standings_html = soup.find(string=re.compile('id="expanded_standings_overall"'))
    standings_soup = BeautifulSoup(standings_html, "html.parser")
    standings_table = standings_soup.find('tbody')
    
    links = standings_table.find_all('a')
    
    for link in links:
        team_urls.append(url_origin + link.get('href'))
    
    return team_urls


def get_player(url):
    response = requests.get(url)
    
    soup = BeautifulSoup(response.text, 'html5lib')
    
    url_origin = 'http://www.baseball-reference.com'
    
    player_urls = []
    
    forty_man_html = soup.find(string=re.compile('id="the40man"'))
    forty_man_soup = BeautifulSoup(forty_man_html, "html.parser")
    forty_man_table = forty_man_soup.find('tbody')
    
    player_row = forty_man_table.find('td', {'data-row':"0"})
    
    links = forty_man_table.find_all('a')
    
    for link in links:
        player_urls.append(url_origin + link.get('href'))
    
    return player_urls

def get_2018_salary(soup, year):
    if soup.find('div', id="div_br-salaries") is not None:
        salary_table = soup.find('div', id="div_br-salaries")
        if salary_table.find('td', {'data-year':"2018"}) is not None:
            return salary_table.find('td', {'data-year':"2018"}).text


def get_full_name(soup):
    if soup.find('div', id='meta') is not None:
        player_info_table = soup.find('div', id='meta')
        return player_info_table.find('h1', itemprop="name").text


def get_batting_standard_table(soup):
    if soup.find('table', id='batting_standard') is not None:
        standard_batting_table = soup.find('table', id='batting_standard')
        return standard_batting_table
    else:
        return None


def get_batting_stats(soup):
    if soup is not None:
        table_body = soup.find('tbody')
        for row_year in table_body.find_all('tr', class_="full"):
            year_id = row_year.find('th').text
            actual_info = [e.text for e in row_year.find_all('td')]
            actual_info.insert(0, year_id)
            actual_info.insert(0, player_full_name)
            actual_info.insert(-1, player_dWAR)
            actual_info.insert(-1, player_salary)
            batting_stats.append(actual_info)
    
        return batting_stats
    else:
        pass

def get_player_dWAR(soup):
    player_dwars = []
    if soup.find('table', id='batting_value') is not None:
        batting_value_table = soup.find('table', id='batting_value')
        if batting_value_table.find('tr', id='batting_value.2011') is not None:
            year_2011 = batting_value_table.find('tr', id='batting_value.2011')
            if year_2011.find('td', {'data-stat':"WAR_def"}).text != '':
                player_dwars.append(year_2011.find('td', {'data-stat':"WAR_def"}).text)
        if batting_value_table.find('tr', id='batting_value.2012') is not None:
            year_2012 = batting_value_table.find('tr', id='batting_value.2012')
            if year_2012.find('td', {'data-stat':"WAR_def"}).text != '':
                player_dwars.append(year_2012.find('td', {'data-stat':"WAR_def"}).text)
        if batting_value_table.find('tr', id='batting_value.2013') is not None:
            year_2013 = batting_value_table.find('tr', id='batting_value.2013')
            if year_2013.find('td', {'data-stat':"WAR_def"}).text != '':
                player_dwars.append(year_2013.find('td', {'data-stat':"WAR_def"}).text)
        if batting_value_table.find('tr', id='batting_value.2014') is not None:
            year_2014 = batting_value_table.find('tr', id='batting_value.2014')
            if year_2014.find('td', {'data-stat':"WAR_def"}).text != '':
                player_dwars.append(year_2014.find('td', {'data-stat':"WAR_def"}).text)
        if batting_value_table.find('tr', id='batting_value.2015') is not None:
            year_2015 = batting_value_table.find('tr', id='batting_value.2015')
            if year_2015.find('td', {'data-stat':"WAR_def"}).text != '':
                player_dwars.append(year_2015.find('td', {'data-stat':"WAR_def"}).text)
        if batting_value_table.find('tr', id='batting_value.2016') is not None:
            year_2016 = batting_value_table.find('tr', id='batting_value.2016')
            if year_2016.find('td', {'data-stat':"WAR_def"}).text != '':
                player_dwars.append(year_2016.find('td', {'data-stat':"WAR_def"}).text)
        if batting_value_table.find('tr', id='batting_value.2017') is not None:
            year_2017 = batting_value_table.find('tr', id='batting_value.2017')
            if year_2017.find('td', {'data-stat':"WAR_def"}).text != '':
                player_dwars.append(year_2017.find('td', {'data-stat':"WAR_def"}).text)       
    
    
    player_dwars = [float(i) for i in player_dwars]
    player_dWAR = float(sum(player_dwars)) / max(len(player_dwars), 1)
    return player_dWAR 
    
            

team_list = ['https://www.baseball-reference.com/teams/KCR/2018.shtml',
             'https://www.baseball-reference.com/teams/BAL/2018.shtml',
             'https://www.baseball-reference.com/teams/BOS/2018.shtml',
             'https://www.baseball-reference.com/teams/NYY/2018.shtml',
             'https://www.baseball-reference.com/teams/HOU/2018.shtml',
             'https://www.baseball-reference.com/teams/SEA/2018.shtml',
             'https://www.baseball-reference.com/teams/CHC/2018.shtml',
             'https://www.baseball-reference.com/teams/MIL/2018.shtml',
             'https://www.baseball-reference.com/teams/PHI/2018.shtml',
             'https://www.baseball-reference.com/teams/OAK/2018.shtml',
             'https://www.baseball-reference.com/teams/ATL/2018.shtml',
             'https://www.baseball-reference.com/teams/CLE/2018.shtml',
             'https://www.baseball-reference.com/teams/ARI/2018.shtml']

still_to_do = ['https://www.baseball-reference.com/teams/CHW/2018.shtml']

done_list = ['https://www.baseball-reference.com/teams/MIN/2018.shtml',
             'https://www.baseball-reference.com/teams/CIN/2018.shtml',
             'https://www.baseball-reference.com/teams/TEX/2018.shtml',
             'https://www.baseball-reference.com/teams/DET/2018.shtml',
             'https://www.baseball-reference.com/teams/SDP/2018.shtml',
             'https://www.baseball-reference.com/teams/NYM/2018.shtml',
             'https://www.baseball-reference.com/teams/MIA/2018.shtml',
             'https://www.baseball-reference.com/teams/CHW/2018.shtml']
        
#for team in get_team('https://www.baseball-reference.com/leagues/MLB-standings.shtml'):
#for player in get_player(team):
#        player_list.append(player)

for team in team_list:
    for player in get_player(team):
        player_list.append(player)

    
for player in player_list:
    player_soup = page_scrape(player)
    player_full_name = get_full_name(player_soup)
    player_dWAR = get_player_dWAR(player_soup)
    player_salary = get_2018_salary(player_soup, 2018)
    standard_batting = get_batting_standard_table(player_soup)
    get_batting_stats(standard_batting)
    time.sleep(1)

In [14]:
player_full_name

'Christian Walker'

In [15]:
big_group_top40 = pd.DataFrame(batting_stats, columns=['Player_Name','Year','Age','Team','League',
                                                        'Games_Played','Plate_Appearances','At_Bats',
                                                        'Runs','Hits','2B','3B','HR','RBI','SB','CS',
                                                        'BB','SO','BA','OBP','SLG','OPS','OPS+','TB',
                                                        'GDP','HBP','SH','SF','IBB','Pos','dWAR','Salary', 'Awards'])

In [16]:
big_group_top40

,Player_Name,Year,Age,Team,League,Games_Played,Plate_Appearances,At_Bats,Runs,Hits,...,TB,GDP,HBP,SH,SF,IBB,Pos,dWAR,Salary,Awards
0,Jason Adam,2018,26,KCR,AL,1,0,0,0,0,...,0,0,0,0,0,0,1,0.000000,None,
1,Jason Hammel,2007,24,TBD,AL,1,1,1,0,1,...,2,0,0,0,0,0,1,0.000000,"$2,000,000",
2,Jason Hammel,2008,25,TBR,AL,2,0,0,0,0,...,0,0,0,0,0,0,1,0.000000,"$2,000,000",
3,Jason Hammel,2009,26,COL,NL,32,60,55,1,6,...,7,2,0,3,0,0,1,0.000000,"$2,000,000",
4,Jason Hammel,2010,27,COL,NL,29,63,57,3,6,...,7,0,0,5,0,0,1,0.000000,"$2,000,000",
5,Jason Hammel,2011,28,COL,NL,32,61,46,3,7,...,11,0,0,14,0,0,1,0.000000,"$2,000,000",
6,Jason Hammel,2012,29,BAL,AL,2,7,4,0,0,...,0,0,0,3,0,0,1,0.000000,"$2,000,000",
7,Jason Hammel,2013,30,BAL,AL,1,4,3,0,0,...,0,0,0,1,0,0,1,0.000000,"$2,000,000",
8,Jason Hammel,2014,31,TOT,MLB,19,43,37,2,5,...,5,1,0,5,0,0,1,0.000000,"$2,000,000",
9,Jason Hammel,2015,32,CHC,NL,31,70,65,6,11,...,12,1,0,3,1,0,1,0.000000,"$2,000,000",
10,Jason Hammel,2016,33,CHC,NL,35,69,65,6,16,...,19,0,0,3,0,0,1,0.000000,"$2,000,000",
11,Jason Hammel,2017,34,KCR,AL,3,9,8,0,0,...,0,1,0,1,0,0,1,0.000000,"$2,000,000",
12,Jason Hammel,2018,35,KCR,AL,1,3,3,0,0,...,0,0,0,0,0,0,1,0.000000,"$2,000,000",
13,Tim Hill,2018,28,KCR,AL,1,0,0,0,0,...,0,0,0,0,0,0,1,0.000000,"$545,000",
14,Brad Keller,2018,22,KCR,AL,2,0,0,0,0,...,0,0,0,0,0,0,1,0.000000,"$545,000",
15,Brandon Maurer,2014,23,SEA,AL,2,2,1,0,0,...,0,0,0,1,0,0,1,0.000000,"$2,950,000",
16,Brandon Maurer,2015,24,SDP,NL,47,0,0,0,0,...,0,0,0,0,0,0,1,0.000000,"$2,950,000",
17,Brandon Maurer,2016,25,SDP,NL,67,0,0,0,0,...,0,0,0,0,0,0,1,0.000000,"$2,950,000",
18,Brandon Maurer,2017,26,TOT,MLB,39,0,0,0,0,...,0,0,0,0,0,0,1,0.000000,"$2,950,000",
19,Kevin McCarthy,2017,25,KCR,AL,2,0,0,0,0,...,0,0,0,0,0,0,1,0.000000,None,
20,Kevin McCarthy,2018,26,KCR,AL,2,0,0,0,0,...,0,0,0,0,0,0,1,0.000000,None,
21,Wily Peralta,2012,23,MIL,NL,6,11,11,0,1,...,2,0,0,0,0,0,/1,0.000000,"$1,500,000",
22,Wily Peralta,2013,24,MIL,NL,31,60,50,1,7,...,7,1,0,9,0,0,1,0.000000,"$1,500,000",
23,Wily Peralta,2014,25,MIL,NL,29,68,57,4,3,...,5,1,0,8,1,0,1,0.000000,"$1,500,000",
24,Wily Peralta,2015,26,MIL,NL,19,37,30,1,1,...,1,0,0,4,0,0,1,0.000000,"$1,500,000",
25,Wily Peralta,2016,27,MIL,NL,21,41,39,2,5,...,9,2,0,1,1,0,1,0.000000,"$1,500,000",
26,Wily Peralta,2017,28,MIL,NL,18,15,13,0,3,...,3,0,0,1,0,0,1,0.000000,"$1,500,000",
27,Wily Peralta,2018,29,KCR,AL,1,0,0,0,0,...,0,0,0,0,0,0,/1,0.000000,"$1,500,000",
28,Enny Romero,2016,25,TBR,AL,5,0,0,0,0,...,0,0,0,0,0,0,1,0.000000,"$565,000",
29,Enny Romero,2017,26,WSN,NL,50,1,1,0,0,...,0,0,0,0,0,0,1,0.000000,"$565,000",
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2241,Deven Marrero,2016,25,BOS,AL,13,14,12,0,1,...,1,0,0,0,0,0,/456D,0.233333,"$561,500",
2242,Deven Marrero,2017,26,BOS,AL,71,188,171,32,36,...,57,8,0,3,2,0,54/63,0.233333,"$561,500",
2243,Deven Marrero,2018,27,ARI,NL,49,85,78,11,13,...,16,5,0,0,1,0,5/4,0.233333,"$561,500",
2244,Jarrod Dyson,2010,25,KCR,AL,18,65,57,11,12,...,23,2,0,2,0,0,8/D,1.185714,"$3,750,000",
2245,Jarrod Dyson,2011,26,KCR,AL,26,53,44,8,9,...,10,0,0,1,1,0,8/D,1.185714,"$3,750,000",
2246,Jarrod Dyson,2012,27,KCR,AL,102,330,292,52,76,...,94,5,1,4,3,1,8/D,1.185714,"$3,750,000",
2247,Jarrod Dyson,2013,28,KCR,AL,87,239,213,30,55,...,78,4,1,3,1,1,8D,1.185714,"$3,750,000",
2248,Jarrod Dyson,2014,29,KCR,AL,120,290,260,33,70,...,85,5,0,6,2,0,8/D7,1.185714,"$3,750,000",
2249,Jarrod Dyson,2015,30,KCR,AL,90,225,200,31,50,...,76,3,4,6,1,0,879/D,1.185714,"$3,750,000",
2250,Jarrod Dyson,2016,31,KCR,AL,107,337,299,46,83,...,116,4,3,8,1,2,897/D,1.185714,"$3,750,000",
2251,Jarrod Dyson,2017,32,SEA,AL,111,390,346,56,87,...,121,3,10,4,2,2,87/D,1.185714,"$3,750,000",
2252,Jarrod Dyson,2018,33,ARI,NL,67,237,206,29,39,...,53,3,0,3,1,2,89/7,1.185714,"$3,750,000",
2253,Braden Shipley,2016,24,ARI,NL,13,27,26,2,3,...,4,0,0,1,0,0,1,0.000000,None,
2254,Braden Shipley,2017,25,ARI,NL,9,6,6,0,0,...,0,0,0,0,0,0,1,0.000000,None,
2255,Braden Shipley,2018,26,ARI,NL,3,2,2,1,0,...,0,0,0,0,0,0,/1,0.000000,None,
2256,Jimmie Sherfy,2017,25,ARI,NL,10,0,0,0,0,...,0,0,0,0,0,0,1,0.000000,None,
2257,Jimmie Sherfy,2018,26,ARI,NL,4,0,0,0,0,...,0,0,0,0,0,0,/1,0.000000,None,
2258,Joey Krehbiel,2018,25,ARI,NL,2,0,0,0,0,...,0,0,0,0,0,0,/1,0.000000,None,
2259,Jake Barrett,2016,24,ARI,NL,65,0,0,0,0,...,0,0,0,0,0,0,1,0.000000,None,
2260,Jake Barrett,2017,25,ARI,NL,28,0,0,0,0,...,0,0,0,0,0,0,1,0.000000,None,
2261,Jake Barrett,2018,26,ARI,NL,5,0,0,0,0,...,0,0,0,0,0,0,/1,0.000000,None,
2262,Jack Reinheimer,2017,24,ARI,NL,2,5,5,0,0,...,0,0,0,0,0,0,/6,0.000000,None,
2263,Sócrates Brito,2015,22,ARI,NL,18,34,33,5,10,...,15,0,0,0,0,0,/987,0.250000,"$539,500",
2264,Sócrates Brito,2016,23,ARI,NL,40,97,95,10,17,...,34,3,0,0,0,0,89/7,0.250000,"$539,500",
2265,Sócrates Brito,2018,25,ARI,NL,8,17,17,1,2,...,2,0,0,0,0,0,/97,0.250000,"$539,500",
2266,Ildemaro Vargas,2017,25,ARI,NL,12,13,13,4,4,...,5,1,0,0,0,0,/45,0.000000,None,
2267,Christian Walker,2014,23,BAL,AL,6,19,18,1,3,...,7,0,0,0,0,0,/3,-0.066667,None,
2268,Christian Walker,2015,24,BAL,AL,7,12,9,0,1,...,1,0,0,0,0,0,/3D,-0.066667,None,
2269,Christian Walker,2017,26,ARI,NL,11,15,12,2,3,...,10,0,2,0,0,0,/3D,-0.066667,None,
2270,Christian Walker,2018,27,ARI,NL,20,27,24,3,5,...,9,1,0,0,0,0,/37,-0.066667,None,

In [17]:
import pickle

with open('big_group_top40.pkl', 'wb') as picklefile:
    pickle.dump(big_group_top40, picklefile)